[2016-01-07 03:54] anhnt opened #1 "Media heading snippet is vibrating when hovering"
drag and drop Media heading and click to it to edit then hover

[2016-01-07 04:27] #1 closed

[2016-01-19 08:48] ducdhm opened #2 "KEditor to support drag and drop layout components and content components"
Users would like the flexibility to arrange the layout of their pages and emails, and this should ideally include dynamic components which may or may not have editable content or properties.

To do this we would have 2 different kinds of snippets:

layout row. A row with fixed number of columns of fixed widths. Is not editable by itself. It can be deleted or moved up or down. A page is a series of

[2016-01-21 15:52] ducdhm opened #3 "Support multi-content-area"

[2016-01-22 14:12] #3 closed

[2016-02-01 16:48] #2 closed

[2016-02-03 13:17] ducdhm opened #4 "Support multiple types of component"
Instead of using CKEditor for editing content of all components. I want to use other things like a dropzone for upload and edit a image or just setting panel in sidebar for configuration of a button.

[2016-02-10 03:43] tuzzmaniandevil opened #5 "KEditor doesn't work on touch devices"
KEditor should support touch devices like Tablets (Android, Apple and Microsoft)

[2016-02-22 08:24] ducdhm opened #6 "[Component] Image"

[2016-02-22 08:24] ducdhm opened #7 "[Component] Video"

[2016-02-22 08:24] ducdhm opened #8 "[Component] Youtube"

[2016-02-22 08:25] ducdhm opened #9 "[Component] Audio"

[2016-02-22 08:25] ducdhm opened #10 "[Component] Map"

[2016-02-22 08:26] #4 closed

[2016-02-22 08:54] ducdhm opened #11 "Option panel for component"

[2016-02-23 06:27] #11 closed

[2016-02-23 17:05] #6 closed

[2016-02-25 09:41] #8 closed

[2016-02-25 09:41] ducdhm opened #12 "[Component] Vimeo"

[2016-02-25 10:08] anhnt commented on #9
done

[2016-02-26 04:55] anhnt commented on #7
Some browser doesnt support specific video format. E.g. Firefox doesnt support playing mp4 directly https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats

Needs to implement a video player like jwplayer

[2016-02-26 05:17] anhnt commented on #7
Working example here https://rawgit.com/Kademi/keditor/master/test/test_video.html

[2016-02-26 05:42] #12 closed

[2016-02-26 05:44] ducdhm commented on #9
@anhnt Video ratio is broken.

![bug_video](https://cloud.githubusercontent.com/assets/1289631/13344209/a789a8e0-dc86-11e5-8524-eef593758c67.png)

[2016-02-26 05:52] anhnt commented on #9
wrong issue mate :)

[2016-02-26 05:52] #9 closed

[2016-02-26 06:07] #10 closed

[2016-02-26 06:07] ducdhm commented on #5
@bradmac @anhnt What do you think about it?

[2016-02-26 06:19] ducdhm commented on #7
Ratio issue

![bug_video](https://cloud.githubusercontent.com/assets/1289631/13344759/96766624-dc8b-11e5-923e-fb7b2610ff81.png)

[2016-02-26 06:40] anhnt commented on #7
nope, i set the style: object-fit: initial

[2016-02-26 06:58] anhnt commented on #7
anyway just changed sample video

[2016-02-26 08:20] bradmac commented on #5
Yep, i think it should. Pretty sure our customers would love to drag and drop with their touch screens.

[2016-02-26 08:29] ducdhm commented on #7
I dont think `object-fit: initial` is good idea. Just let ratio of video be. Just set background for `video` tag is black

[2016-02-26 08:32] bradmac commented on #7
Guys, dont worry about it because we will use jwplayer.

[2016-02-26 08:36] ducdhm commented on #7
@bradmac OK

[2016-02-26 08:36] #7 closed

[2016-03-04 03:20] bradmac opened #13 "Dynamic components"
Consider this use case: I would like to develop a products list component for use with EDM's. This component should show a list of 3 or 4 products which meet the preferences of the user the EDM is being sent to.

Ideally, when i add this component to an EDM using keditor it will generate a list of products so i can see how it looks. But of course i dont want that list of products to be saved into

[2016-03-10 05:05] #13 closed

[2016-03-28 04:51] ducdhm opened #14 "Iframe mode for keditor like CKEditor"

[2016-04-01 04:16] #14 closed

[2016-04-05 03:15] ducdhm opened #15 "Support grouped snippets"

[2016-04-05 03:19] bradmac commented on #15
:+1: to allow grouping of components when there gets to be a large list. But best to wait until we have a large list

[2016-04-06 06:08] Programmer-MahmoudAhmed opened #16 "keditor-snippets-list not working"
keditor-snippets-list dont get any snippets from file snippets.html
and only place i see this script working was in this link only
http://www.jqueryscript.net/other/jQuery-Based-Content-Editor-and-Layout-Builder-KEditor.html

i love it when i see it working but can't  get it working please if there is any help

[2016-04-06 06:32] anhnt commented on #16
Please test this under http server. that should work

[2016-04-06 07:08] ducdhm commented on #16
@Programmer-MahmoudAhmed Hi, can you give me more information for checking?

[2016-04-06 07:49] bradmac commented on #16
@ahnt I don't think it should need a running server. That's just for dynamic component evaluation

[2016-04-06 14:12] Programmer-MahmoudAhmed commented on #16
there is no any html file working like the i posted  so im try to get the file on this site and im make every thing work Except snippets list Because \ snippetsUrl: 'snippets/default/snippets.html',
dos not get any thing and this photo for final work with me
http://s30.postimg.org/e53qauopd/image.jpg

stile cant' get  snippets list showing

[2016-04-07 01:53] Programmer-MahmoudAhmed commented on #16
@anhnt  im tested on http server when i know its not make any change
any won can download the file from here and he will see its not working
the only copy from this script working on the link i post it before

[2016-04-07 02:53] ducdhm commented on #16
@Programmer-MahmoudAhmed You can download version 1.0.2 of KEditor at https://github.com/Kademi/keditor/releases/tag/1.0.2. It's same with example at http://www.jqueryscript.net/other/jQuery-Based-Content-Editor-and-Layout-Builder-KEditor.html

[2016-04-07 04:07] ducdhm commented on #16
@Programmer-MahmoudAhmed As I checked in my local, seem like snippets list will be not loaded in Chrome but loaded in FF and IE. The reason chrome doesn't allow to loading snippets list is security reason. Please check solution at http://stackoverflow.com/questions/10752055/cross-origin-requests-are-only-supported-for-http-error-when-loading-a-local.

[2016-04-07 16:49] Programmer-MahmoudAhmed commented on #16
@ducdhm  thanks alot i checked in fire fox and its work and i will check the link in stackoverflow to know how i can fixed in chrome

[2016-04-11 03:18] anhnt opened #17 "Keditor should can be disabled or destroyed when done editing"

[2016-04-11 03:56] anhnt opened #18 "Snippet toolbar is overlapping content"
![overlapping](https://cloud.githubusercontent.com/assets/735555/14416397/f52d1c10-ffd3-11e5-9c91-742e44c7ef2a.PNG)

[2016-04-11 03:59] anhnt opened #19 "Component settings doesnt appear sometimes"
Steps to reproduce:

Click edit page
Hide snippets toolbar
Click any component settings gear, it works. then hide settings toolbar
Click gear button again, not showing toolbar
Click gear once again, toolbar shows

[2016-05-12 21:39] madu12 commented on #16
how to get full ckeditor

[2016-05-12 21:50] madu12 opened #20 "How to get content of KEditor"
hi How to get content of KEditor and how to gett full ckeditor

[2016-05-12 22:01] bradmac commented on #20
[code]

[2016-05-12 22:03] bradmac commented on #16
Not sure what you mean? Are you looking for the ckeditor source code?

http://ckeditor.com/

[2016-05-13 04:14] madu12 commented on #20
can you send the example project with full ck editor and get content

On Fri, May 13, 2016 at 3:31 AM, Brad McEvoy <notifications@github.com>
wrote:

--
            SM
.....................................
Best Regards
*Sameera Madushna*

[2016-05-13 05:54] bradmac commented on #20
Sorry, no, thats from a private project. But just use any of the examples to see keditor working with ckeditor, and then just use the getContent method to get the content

[2016-05-13 06:39] madu12 commented on #20
can you cen me getting code only

On Fri, May 13, 2016 at 11:24 AM, Brad McEvoy <notifications@github.com>
wrote:

--
            SM
.....................................
Best Regards
*Sameera Madushna*

[2016-05-16 20:45] madu12 opened #21 "KEditor"
How to set content of KEditor using textarea

[2016-05-18 04:18] ducdhm commented on #21
Hi @madu12 for now, we dont support textarea yet.

[2016-05-18 04:21] ducdhm commented on #18
@anhnt It's just styling. It's default style of Keditor. You can style for your content like
[code]

[2016-05-25 11:09] ducdhm opened #22 "Support initialize KEditor from textarea"
Request from: https://github.com/Kademi/keditor/issues/21

[2016-05-25 11:11] anhnt commented on #18
thanks so much! that works for me :)

[2016-05-25 11:11] #18 closed

[2016-05-25 11:36] ducdhm commented on #19
Done in https://github.com/Kademi/keditor/releases/tag/1.1.2

[2016-05-25 11:36] #19 closed

[2016-05-26 04:06] ducdhm opened #23 "Support data-* attribute into snippets"
Example:
[code]

Instead of getting only `data-type` attribute, should store all data-* attribute

[2016-05-26 04:41] #23 closed

[2016-05-26 07:53] #22 closed

[2016-05-26 07:54] ducdhm commented on #21
@madu12 You can set content of KEditor by using textarea now. https://github.com/Kademi/keditor/commit/fef8931f49ba469f27a8cc409dfd2f1e4b1bedd4

[2016-05-26 07:54] #21 closed

[2016-05-26 07:54] #20 closed

[2016-05-26 07:55] #16 closed

[2016-06-07 03:47] ducdhm commented on #5
Found this one for enable DnD on touch device http://touchpunch.furf.com/

[2016-06-07 03:48] ducdhm opened #24 "Configurable container"

[2016-06-07 03:49] ducdhm opened #25 "Enable to add more tab in sidebar"
Now we have `Container` and `Component` tab in sidebar and I want to add more tab in sidebar.

[2016-06-07 11:47] ducdhm commented on #24
4 new options for setting panel of container
[code]

[2016-06-07 11:48] #24 closed

[2016-06-08 04:33] #25 closed

[2016-06-15 09:33] ducdhm opened #26 "Support title for snippet"
Let's say I want to show the title of each snippet

[2016-06-15 09:33] ducdhm commented on #26
Support for: https://github.com/Kademi/kademi-dev/issues/1998

[2016-06-17 14:25] #26 closed

[2016-06-24 09:24] ducdhm opened #27 "Support adding data-* attributes for dynamic component/element before sending request"

[2016-06-24 10:14] #27 closed

[2016-06-24 10:15] bradmac commented on #27
:+1:

[2016-07-11 04:40] ducdhm opened #28 "Can not drop container into duplicated container"

[2016-07-11 04:40] ducdhm commented on #28
https://github.com/Kademi/kademi-dev/issues/2104

[2016-07-11 05:06] #28 closed

[2016-09-16 19:32] hitaloramon opened #29 "Select Filter in the Snippets"
It would be possible to add a filter to select between similar snippets to this system:

http://www.innovastudio.com/builderdemo/example1.html

[2016-09-19 03:42] bradmac commented on #29
I think that would be good. But also, i think it would be good to have a search option.

What i think is that snippets should be associated with multiple tags. A list of available tags is shown to allow selecting from. There is also a search box. A user can type in keywords and the list will be dynamically filtered by searching for the keywords in title/tags/description

[2016-09-20 08:21] ducdhm opened #30 "Load component setting when first time setting panel of this component type is opened"

[2016-09-20 09:40] #30 closed

[2016-11-11 04:39] ducdhm opened #31 "CKEditor toolbar overlap other components or component toolbar"

[2016-11-11 04:46] ducdhm commented on #31
New UI:

![newui](https://cloud.githubusercontent.com/assets/1289631/20204661/7ca0b9b2-a804-11e6-9e59-aed8b9b68f4e.png)

[2016-11-11 04:46] #31 closed

[2016-11-11 05:59] ducdhm commented on #31
Updated UI:
![aaaa](https://cloud.githubusercontent.com/assets/1289631/20205842/b4ae6f98-a80e-11e6-8903-e3ca6dc9a20d.png)

[2016-11-26 09:04] jyoti22p opened #32 "IS kEditor is wokring with dynamically created content area"
Actually I am using Kademi content editor   with drag and drop  section

but i want multiple content area with dynamically create element

how we can do that

https://rawgit.com/Kademi/keditor/master/examples/multi_content_area.html

I am using this demo

Is it possible to do with dynamic create content area ?

[2016-11-27 21:32] bradmac commented on #32
Yep, that should be no trouble at all. Have you seen any problems?

[2016-11-28 04:10] jyoti22p commented on #32
yes   I am facing problem   to create multiple content area dynamically   to drag the  container and components  . Can you please provide me example regarding this or some code help .I am stuck over there

[2016-11-29 06:20] umefarooq opened #33 "need php mysql example for saving and updating page content"
How to save changes of keditor in database with php mysql, looking for a good example.

[2016-11-29 06:26] bradmac commented on #33
Here's what we do in Kademi

[code]

[2016-11-29 06:29] umefarooq commented on #33
so quick let me try if its work really thanks.

[2016-11-30 08:05] umefarooq commented on #33
it worked amazing, now part of my development list, how can i disable all console logs.

[2016-11-30 08:29] anhnt commented on #33
@umefarooq can you create an issue for it? I would assume that it should be an option like
``` $('div').keditor({debug: false});```

[2016-11-30 08:52] bradmac commented on #33
@umefarooq note that logging uses a function which checks to see if the console is enabled, so it is safe to leave logging enabled in production.

[2016-12-16 06:51] ducdhm opened #34 "Searchable snippets"

[2016-12-16 06:51] ducdhm commented on #29
Separate issue for searchable https://github.com/Kademi/keditor/issues/34

[2016-12-16 06:51] #29 closed

[2016-12-16 06:51] #15 closed

[2016-12-16 07:20] ducdhm commented on #5
You can follow this guide at https://github.com/Kademi/keditor#support-touch-devices.
You also can check lived example with support device touch at https://rawgit.com/Kademi/keditor/master/examples/support_touch_device.html

[2016-12-16 07:20] #5 closed

[2016-12-16 20:56] 2braincells2go opened #35 "Example of using textarea with Keditor"
Just stumbled across Keditor again and really like the way it is coming along, great job.

Currently using CKEditor in classroom project and have setup using textarea and some PHP to save the textarea content. I will note this is for learning in classroom only and we are not worried about security.

I had seen in closed issue that Keditor now support textareas. **We have been struggling for hours

[2016-12-17 03:16] anhnt commented on #35
Nice example. Glad to see it's helpful for your project

[2016-12-17 11:29] 2braincells2go commented on #35
Thanks @anhnt . Now if we could only get the textarea to work with Keditor. We are stuck and cannot get it save the content...

[2016-12-17 16:05] 2braincells2go commented on #35
Using the above setup works perfectly with CKeditor alone BUT, will not when adapted to Keditor. The text.inc is accessed but not written to.

If anyone interested in helping us out, this is what we have setup for Keditor:

`<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>KEditor - Kademi Content Editor</title>
        <meta name="viewport" content="widt

[2016-12-17 18:20] bradmac commented on #35
Hi @2braincells2go. KEditor is pretty new so there's not much in the way of content on stackoverflow.

You get the value of the content from KEditor like this:
[code]

Here's the js code we use in Kademi to save, this is from a button click event:

[code]

[2016-12-17 18:21] bradmac commented on #35
If it helps, here is that code in context:
https://github.com/Kademi/kademi-dev/blob/master/src/main/webapp/templates/apps/admin/contentEditor.js

[2016-12-17 19:03] 2braincells2go commented on #35
@bradmac thanks much for input. I will explore your suggestions and see what we can come up with.

Really like Keditor and sure it will soon become very popular:)

[2016-12-17 19:09] bradmac commented on #35
Thanks! BTW, if you want to see it in action here's a vid of using keditor with dynamic components - http://www.kademi.co/blogs/kb/building-customized-analytics-dashboards/

[2016-12-18 21:36] 2braincells2go commented on #35
Well, unfortunately we have gotten no where with our attempts to incorporate Keditor into our classroom project. Using our PHP save method works flawless with CKEditor but after hours of trying to get working Keditor no luck.

Guess we will try again after the Holidays. Will close this.

Thanks

[2016-12-18 21:36] #35 closed

[2016-12-19 00:26] bradmac commented on #35
Sorry to hear that. Did you try my JS above? Should only take a few mins to integrate.

[2016-12-19 03:45] #34 closed

[2016-12-19 12:12] 2braincells2go commented on #35
@bradmac Yes sir, we tried the example JS you suggested. Never it got it working with our PHP save method. Kept getting undefined errors and such. Sure it is something we were missing.

Thanks!

[2016-12-19 18:48] bradmac commented on #35
Just a note that KEditor is not intended as a drop-in replacement for ckeditor, ie you do need to use js to integrate it into your form.

You get the value of the content like this
[code]

And then you need to do something with that. If you are posting a form you need to set that into a form input using js. Eg
[code]

[2016-12-19 20:46] 2braincells2go commented on #35
Thanks again for your input Brad, it is much appreciated.

Totally understand Keditor is not a drop-in replacement for ckeditor. Just trying to get Keditor working with what we have already thrown together. When I say "we", referring to a group of teenagers with oldest being 16 years and then me (old fellow), and I am not strong on javascript.

Another issue we face is working on a school network

[2016-12-19 21:37] bradmac commented on #35
Cool, sounds like a lot of fun!

One thing you might want to try is doing the post with AJAX instead of an old fashioned page form post. Thats what we do in Kademi which is probably why our code looks very different from yours. But ajax gives a much better experience to the user, and makes it easier for you as developers to implement different requirements.

That can still use the same php service

[2016-12-19 21:44] 2braincells2go commented on #35
Yes, need to move forward with AJAX as some point. Since I only use this whole setup to teach a little about building with Bootstrap, have not ventured into AJAX yet.

By any chance, do you have a working example of using the save function (like you speak of on Kademi)? Looking at your suggestion:

`    btnSaveFile.on('click', function (e) {
        e.preventDefault();

        showLoadingIcon();

[2016-12-19 21:47] bradmac commented on #35
Thats our production code, but we dont have that in an example at the moment, sorry. I'll try to knock one up over the holidays. Although all our examples are client side only so we probably wont have an actual server to use it with.

[2016-12-28 06:24] ducdhm opened #36 "Option to disable niceScroll"

[2016-12-28 06:25] ducdhm opened #37 "data-categories is in component after dropping"

[2016-12-28 06:34] #36 closed

[2016-12-28 06:36] #37 closed

[2017-01-03 10:07] umarch06 opened #38 "Keditor in angular js"
Hey,
I appreciate this plugin very much because of it's extra ordinary beauty. Can you please provide me link of **angular directive** for this plugin?
Appreciations.

[2017-01-04 22:04] pavlyukpetr opened #39 "How to save html file after editing?"
Hi, its really great editor, but can it save edited html files?

[2017-01-04 22:08] bradmac commented on #39
You can grab the value of the content and then save it using ajax, but its up to you to provide the server side support for persistence. There's some example client side code here:

https://github.com/Kademi/keditor/issues/33

[2017-01-05 08:43] pavlyukpetr commented on #39
ok, thank you. I will try

[2017-01-08 04:27] ducdhm commented on #33
@umefarooq: If you want, you still can disable log console by using this code `$.keditor.debug = false;`

[2017-01-08 04:27] #33 closed

[2017-01-08 04:50] ducdhm commented on #32
@jyoti22p Is it what you want?

[code]

[code]

[2017-01-08 06:10] #39 closed

[2017-01-09 03:47] ducdhm opened #40 "Standalone CSS/LESS file"
In some case, I dont want to use Bootstrap CSS, I want use my own stylesheet, so I need standalone version style of Keditor.

[2017-01-13 21:15] 2braincells2go commented on #35
You perhaps did not get a chance to "knock one up" (example based on our try above) did you?

[2017-01-14 06:54] bradmac commented on #35
Sorry, no. But keditor is really just a client side tool, its up to you to provide whatever it is that you'll be POSTing to

[2017-01-14 13:50] 2braincells2go commented on #35
No problem. Did not mean to bother you guys. Students did not really like the flow of KEditor anyway.

Cheers!

[2017-01-17 06:15] ducdhm opened #41 "Search with in-case sensitive"

[2017-01-24 16:36] ducdhm commented on #16
@umarch06 You can see what you need at:
 * [Customize snippet](#customize-snippet)
 * [Customize component type](#customize-component-type)
 * [Dynamic content](#dynamic-content)

[2017-01-24 19:09] bradmac commented on #16
:+1:

[2017-01-24 19:13] umarch06 commented on #16
but I cannot have a clear documentation for that. I tried to add the custom code in dynamic_content file. But nothing showd in the snippet and containers  tabs.

[2017-01-24 19:34] bradmac commented on #16
The snippets are loaded from snippets.html by default. You can change that file, or change the config options to load from a different file using the snippetsUrl property:
[code]

[2017-01-24 19:38] umarch06 commented on #16
I added my custom snippet in snippet.html file and used same attributes for div. But I wonder why my custom added snippet not appearing in side bar  in that.

[2017-01-24 19:40] bradmac commented on #16
Note that its loaded by ajax, so doing a page refresh will not cause it to be reloaded. I suggest you open the snippets url in your browser directly to confirm if your changes are being loaded.

[2017-01-24 19:42] umarch06 commented on #16
@bradmac I need to talk to you personally. I am stuck into a place as I have used this plugin very heavily and cannot replace it with anything else now.

[2017-01-24 19:48] bradmac commented on #16
Sorry man, I'm a bit busy today! But its really easy, Kademi uses heaps of extra snippets, so it definitely works.

Just open up snippets.html in your browser and you will see. Most likely all you need to do is hard refresh the snippets file

[2017-01-24 19:52] umarch06 commented on #16
I did that too but not worked. Thanks for the time and hats off to you guys efforts.
I just needed to show you some keditor modified by me in a confidential website. please leave an email for me once you are free. I would be grateful.
regards,
umar

[2017-01-25 08:27] umarch06 commented on #16
@bradmac @ducdhm I have checked the snippet.html after adding my own simple line break (<br>) in snippet area. It  is being shown in snippet.html but not in tab after keditor loads

![image](https://cloud.githubusercontent.com/assets/13533390/22283055/d35920f4-e301-11e6-9d57-f4f03e512d71.png)

![image](https://cloud.githubusercontent.com/assets/13533390/22283067/e553b22e-e301-11e6-9428-642d38c4802

[2017-01-29 01:32] Audax23 opened #42 "getContent does not work"
Hello,
I would like to get the content but it doesn't work, i use this as explain in doc.
$('#id').keditor('getContent');
 jquery return Uncaught TypeError: jQuery(...).keditor is not a function
how to resolve this ?
thank you

[2017-01-29 04:01] bradmac commented on #42
That error means you the keditor plugin hasnt been loaded. Please check you have included the js file, and in the correct order.

[2017-01-29 09:58] Audax23 commented on #42
thank you, i test on blank.html demo, it works fine.
great tools !

[2017-01-29 09:58] #42 closed

[2017-01-29 14:25] Audax23 opened #43 "iframe mode"
Hi team,
i'm on MAC (Yosemite 10.10.5) and firefox version 51.0.1,
when iframe is true, nothing are displayed, iframe body is empty, i test on blank html example file.
where can i find a online example ?
thank you

[2017-01-30 18:42] Audax23 commented on #43
I finally found other way, i close this issue.
this tool is fantastic, thank you very much for your work !

[2017-01-30 18:42] #43 closed

[2017-02-02 08:03] ducdhm opened #44 "Styles and Format dropdowns in CKEditor are not same row with other ckeditor toolbar buttons"

[2017-02-21 20:52] hitaloramon opened #45 "Dynamic content remove data-dynamic-href div"
Is it possible that when dynamic content is added to the contentarea it deletes the line where the dynamic content comes from?

To remove the div containing the data-dynamic-href

I do not know if it's clear, sorry, my English

[2017-02-28 21:32] umarch06 commented on #33
Amazing plugin.
@ducdhm @bradmac  can you please tell me if I can again load the page design after saving html through this line of code?

`var fileContent = $('#keditor-body').keditor('getContent');`

[2017-02-28 21:36] bradmac commented on #33
Hey @umarch06 what do you mean by loading the page design again? In Kademi we save the content with ajax and the user just continues editing, so the page is not reloaded.

[2017-03-02 08:19] umarch06 commented on #33
@bradmac consider that I need to save a page and then I have to reload it with the same design I left with.
Like in an invoice, a person may have as much design as he want and later on he needs to build a new invoice with some of his custom designs?

[2017-03-02 08:26] bradmac commented on #33
OK, so it sounds like what you want is to save to a template library, and allow your users to load from that template library, right?

You can definitely do that, but i would expect thats outside of the scope of keditor. You would want to create a new table in your db, create an ajax service to get and set templates, and then have some sort of drop down to select one which would load the content i

[2017-03-02 09:48] umarch06 commented on #33
yes exactly @bradmac you got me right.
I need to save templates. Later on I need to use them again, even again I can have right to make changes in that.
The question is relative. Like thorugh this code `var fileContent = $('#keditor-body').keditor('getContent');`
I am gonna get all the html. Later on I will save it to db and then again I will reload it on my page.
Problem is that, how will I rende

[2017-03-02 09:56] bradmac commented on #33
We generate editor page like this (uses velocity):
[code]

And then we initialise it like this:
[code]

To load new content we would simple replace the content div and then re-init keditor
[code]

The content produced by keditor should be clean, it should not contain anything editor specific such as draggers.

[2017-03-02 10:02] bradmac commented on #33
BTW, you should really consider using dynamic components. Check it out here, but you might want to skip my long boring intro and skip forward to about 4:30 :)

http://www.kademi.co/blogs/kb/building-customized-analytics-dashboards/

[2017-03-02 12:57] umarch06 commented on #33
@bradmac I loved the way you have implemented this. I watched your video till the end and wonder why in that case Elements and Containers are on same tab and some other snippets are separately placed on second tab of side bar.
- Moreover, it would have been excellent if one could drag elements on content area rather than first placing containers and then placing elements in those containers (most

[2017-03-04 08:32] ducdhm opened #46 "Change `data-title` to `data-keditor-title` for avoiding conflict with dynamic component"

[2017-03-04 08:32] #46 closed

[2017-03-04 08:33] ducdhm commented on #38
We just maintain jquery version for KEditor now. Will create repo for Angular Directive soon.

[2017-03-04 08:33] #38 closed

[2017-03-04 08:33] #32 closed

[2017-03-04 08:33] ducdhm commented on #44
Fixed!

[2017-03-04 08:34] #44 closed

[2017-03-04 08:37] ducdhm commented on #45
@hitaloramon As I understand, you want to remove the element which contains `data-dynamic-href`?

If yes, we have a callback will be called after dynamic content is loaded

[code]

[2017-03-04 09:23] #41 closed

[2017-03-22 09:20] ducdhm opened #47 "Improve iframeMode"
* Add new option for styles of iframe named `contentStyles`

[2017-03-22 09:25] ducdhm commented on #47
Dont need. Way old still is OK

[2017-03-23 16:05] #47 closed

[2017-03-26 14:54] Roko131 opened #48 "Lived examples don't work"
In readme this link- https://github.com/Kademi/keditor#lived-examples leads to an example page:
https://rawgit.com/Kademi/keditor/master/examples/index.html

Which has some examples, like this one:
https://rawgit.com/Kademi/keditor/master/examples/multi_content_area.html
But none of them work..

p.s.
Shouldn't it be Live examples and not Lived examples?

![image](https://cloud.githubusercontent.co

[2017-03-26 19:55] bradmac commented on #48
:+1:

@ducdhm can you update the examples?

[2017-03-27 08:41] remcovo opened #49 "pre-designed snippet"
What is the best way to  add a pre-designed snippet with columns+editable components?

For example:  I want a 2 column row, with on the left an image block, on the right a rich-text.
When I add this into the snippets, the components won't be editable anymore. (missing an ID i guess?)

[2017-03-27 15:01] remcovo opened #50 "idea: draggable columns?"
I came across this solutions to drag and change columns widths, maybe this can be very handy and easy to intergrate. (I am not a js specialist -sorry).

http://jsfiddle.net/onigetoc/ag4mgpbs/

If you also take note of the viewport (like the editor is viewed in an resizable iframe) this might be very handy solution to resize columns for small, medium and large views.
And create something very userf

[2017-03-30 10:11] #45 closed

[2017-03-30 10:12] ducdhm commented on #49
@remcovo Please see this section for customized snippet: https://github.com/Kademi/keditor#customize-snippet

[2017-03-30 10:22] ducdhm commented on #50
Hi @remcovo, basically KEditor just provides you a content editor core with drag and drop snippet feature.  KEditor  also supports a lot of callback for events as well as allows developers extend it with customized snippets and component types. For draggable columns, you can implement it by your self via `containerSettingInitFunction` method or `onInitContainer` callback

[2017-03-30 10:26] ducdhm commented on #48
Done!

[2017-03-30 10:26] #48 closed

[2017-04-01 04:44] #40 closed

[2017-04-04 05:25] ducdhm opened #51 "Iframe mode is not working on Firefox"

[2017-04-04 05:31] #51 closed

[2017-04-04 06:05] anhnt commented on #51
👍

[2017-04-16 11:32] umefarooq opened #52 "How i can add link to photo component"
Hi, how i can add link to photo component,  make image linkable

[2017-04-17 02:42] #49 closed

[2017-04-17 02:42] #50 closed

[2017-04-17 02:44] ducdhm commented on #52
@umefarooq You can customize photo component in its source code.

[2017-04-17 11:47] umefarooq commented on #52
thanks let me see how to do that

[2017-04-18 02:01] ducdhm commented on #52
If you need anything from me, please kindly reopen it. Thanks!

[2017-04-18 02:01] #52 closed

[2017-04-18 06:05] umefarooq opened #53 "How i can add file browser to CKeditor."
Hi
you are using CKeditor how i can add file browser to it and how can i change setting of it.

[2017-06-08 22:03] rip747 opened #55 "build process doesn't seem to be working"
I might just be not understanding how the build process works. I'm getting alot more files in the dist folder than in the previous release. I preformed the build using "gulp build", I am doing something wrong? Below is a "git status" after running the build process.

On branch master
Your branch is up-to-date with 'origin/master'.
Changes not staged for commit:
  (use "git add/rm <file>..." to upd

[2017-06-09 14:31] rip747 commented on #55
see: fix build process #56

[2017-06-30 02:45] nev3rmi opened #57 "Bug containerSettingEnabled, drop container into another container is not allow"
1. containerSettingEnabled: true

-> When turn this one on, the snippet searchable will be disappear.

2. Cannot do container drop into another container

[2017-07-01 14:27] nev3rmi commented on #57
Could you please provide me the way to do setting in container

[2017-07-07 14:38] hessian0 opened #58 "Textarea and iframe in Firefox"
There is an issue with loaded contents if textarea is used in iframeMode
Thank you for the great tool tho

[2017-07-09 04:04] ducdhm commented on #58
@hessian0 Can you provide me link to codepen or jsfiddle for demo this issue?

[2017-07-09 06:10] ducdhm commented on #53
@umefarooq You should go to CKEditor forum to ask this question.

[2017-07-09 06:10] #53 closed

[2017-07-09 06:24] ducdhm commented on #55
@rip747 It's working. I just added js files for each components.

[2017-07-09 06:24] #55 closed

[2017-07-09 06:31] ducdhm commented on #57
[code]
@nev3rmi Can you provide me example for this issue?

[code]
As original concept of KEditor, we have containers contain components. No level for containers. So that's why you can't drop container into other container. If you want, you can extend KEditor to do it.

[code]
Do you have example for this issue?

[2017-07-09 07:34] nev3rmi commented on #57
1. I fix it by put containerSettingInitFunction, but if not it will show a bugs.
2. Where can i find this extend :) or can you help me to build it :)
3. Maybe i need to check it, when i plug it to my system it doesn't work

[2017-07-10 00:56] hessian0 commented on #58
@ducdhm Here a link to  [jsfiddle](https://jsfiddle.net/evdq480n/3) demo with textarea and iframeMode enabled.
Replacing _textarea_ with _div_ (or setting iframeMode=false) contents are loaded fine (except with FF that in my tests doesn't work with iframe at all).
Thank you for the help

[2017-07-14 23:20] webauthor opened #59 "Adding plugins to ckeditor toolbar"
Hi, great tool.  I already using ckeditor and would like to add one or more plugins to the toolbar.  Can you point me in the right direction?

Thanks.

[2017-07-15 00:34] anhnt commented on #59
You can create your custom text component and add your custom ckeditor plugins then rebuild keditor

See here for example https://github.com/Kademi/keditor/blob/master/src/js/keditor-component-text.js

[2017-07-15 00:58] webauthor commented on #59
Excellent.  Thank you so much.

[2017-07-16 15:25] ducdhm opened #60 "Improve keditor"
* Add `window` properties for instance of KEditor. When `iframeMode` is `true`, `window` is window of iframe
 * Support `id` for styles in `iframeMode`
 * Change `data-categories` to `data-keditor-categories` for avoiding conflict data-* attributes with dynamic components
 * Prevent `form` tags inside `#keditor-setting-forms` submit to other page
 * Context of all callbacks will be instance of KEd

[2017-07-16 15:27] #60 closed

[2017-07-16 15:37] ducdhm commented on #58
@hessian0 I pushed the fix in version 1.1.5. It's working now! You can check demo at https://jsfiddle.net/evdq480n/5/

[2017-07-16 15:37] #58 closed

[2017-07-16 15:38] #59 closed

[2017-07-17 17:13] oleteacher opened #61 "Demos Broke"
Stumbled across KEditor and was trying the demo's and they seem to be broken.

Dev console is full of 404 errors so assume that is why. Thought you may like to know...

[2017-07-18 14:53] oleteacher commented on #61
No biggies, cheers!

[2017-07-18 14:53] #61 closed

[2017-08-11 16:36] SadokLadhari opened #62 "Filters not shown"
In the `renderSnippets` function categories are retrieved by the attribute `data-keditor-categories` :
`                var categories = snippet.attr('data-keditor-categories') || '';`
or in the snippets.html we have just `data-categories` not `data-keditor-categories` ??

I changed the attribute to `data-keditor-categories` , so that the filters appears.

[2017-08-12 02:19] ducdhm commented on #62
@SadokLadhari Really thanks for this. I changed `data-category` to `data-keditor-category` because my custom component has `data-category` for its dynamic element.

[2017-08-12 02:22] ducdhm commented on #62
Fixed!

[2017-08-12 02:22] #62 closed

[2017-08-23 10:01] ccwalkerjm opened #63 "how to set content dynamically...."
Very nice project....I have an issue.
How do you set the content that you previously saved?

Essentially you initially saved the content and then you want to resume editing, how do you set the content dynamically with the saved content?

[2017-08-23 10:13] bradmac commented on #63
You should save your content with some ajax service provided by your server, and then reload it either by ajax or by generating the content into your page with server side templating.

[2017-08-23 12:01] ccwalkerjm commented on #63
Thanks Brad for the feedback.  I understand how to save the content....The issue is how to re-append the content so that I can continue editing......The scenario is this;;;;;started to build a site....then save the content....close builder ....restart builder......append save content...continue to build etc......

[2017-08-23 12:05] ccwalkerjm commented on #63
I guess the question is "How do I reload content"  dynamically using jquery?  Could you give me an example?..

[2017-08-23 21:55] ccwalkerjm commented on #63
After much hacking I was able to resolve the problem by writing a method in keditor.js.

reset: function(options) {
      return $(this).each(function() {
        var target = $(this);
        flog('Initialze KEditor', target, options);
        var keditor = new KEditor(target, options);
        target.data('keditor', keditor);
      });
    },

Essentially this reset the content.  I can now dynam

[2017-08-24 02:21] ducdhm commented on #63
@ccwalkerjm I'll add method to setContent for keditor

[2017-08-24 13:18] ccwalkerjm commented on #63
Much appreciated....whats the timeframe...

[2017-08-30 04:33] ducdhm opened #65 "When drag n drop component in content area, should show preview img instead of entire content"

[2017-09-03 18:37] oleteacher opened #66 "[Question] getContent Usage"
We have been trying to implement keditor with some of the tools we use in classroom. Some success, much failure:)

Currently one of our projects is using a ckeditor instance like.

`var instructions = CKEDITOR.instances.instructions.getData();`

Have tried to implement keditor using this:

`var instructions = keditor('getContent');`

Not working for us and wondering if `var instructions = keditor(

[2017-09-04 06:16] ducdhm commented on #66
Hi Susan,
You should use KEditor like:

[code]

We don't public `keditor` to `window` as well as getting content via `keditor('getContent')`. For documentation, please kindly read https://github.com/Kademi/keditor/blob/master/README.md

[2017-09-04 10:35] robw-ddsn commented on #63
Hey there... Just adding my support and thanks in advance for this issue. setContent will be perfect.

Meanwhile we had to take a slightly different approach because of the way we load content (from a parent document containing an iframe with keditor in it). We thought of setting the content of the content area and re-initialising the editor, but this produced strange results because keditor obvio

[2017-09-04 11:02] robw-ddsn opened #67 "Semantic use of <section> not always standards compliant, consider using <div>"
Firstly... keditor is a great little product. Well done! We hope to contribute however we can.

Accessibility and the associated semantic HTML markup are important to us with our CMS platform. Keditor uses `section` tags to identify containers and content components. Although this is sometimes semantically accurate, it often isn't.

Consider the W3C definition of the section tag:
[https://www.w3.o

[2017-09-04 13:03] oleteacher commented on #66
Thanks, but would not work with our script. Will search elsewhere to get help for our classroom project.

[2017-09-04 13:03] #66 closed

[2017-09-04 20:36] bradmac commented on #67
:+1:

Note that any change needs to preserve content editing compatibility with content developed using the current section format

[2017-09-04 23:42] robw-ddsn commented on #67
That's a good point, for backward compatibility if the editor is already in use of course. And it's not quite as easy as just swapping out `section` tags for `div class="keditor-section"`, because there might be section tags within the content itself.

[2017-09-08 08:50] ducdhm opened #68 "Nested container"
Supported nested container with only 1 level:

[code]

[2017-09-15 16:29] #68 closed

[2017-10-15 07:28] rihanrahul commented on #63
@ccwalkerjm If you want to edit the content later, I think you dont need to add any other methods. Just load previously saved data before initilializing the builder. Thats it!

[2017-10-18 14:11] Rilvatore opened #69 "Blocks duplucation"
Hello,

I have a issue with blocks (div,p, section..) which, fairly rarely, duplicate without any reason in the editor (which use the ckeditor plugin). The problem is that it appears randomly without any HTML structure modification. I have tried to clear the cache on each reload of the page editor but it has no effect. I noticed that the issue usually appears in Safari, never with Chrome in my tes

[2017-10-19 05:12] ducdhm commented on #69
@Rilvatore Can you provide me more information, something like your HTML code?

[2017-10-19 07:24] Rilvatore commented on #69
Yes, here is an exctract of HTML code that, sometimes, duplicate in the editor:

`<div class="blue-line"><div class="wrapper" data-type="container-content"><section data-type="component-text"><a class="btn-asd btn-asd-white" href="/my-asd/connexion?next_url=http%3A%2F%2Fwww.asd-int.com%2Fmy-asd">Commencez dès maintenant</a></section></div></div>`

The problem is that sometimes (very fearly), when

[2017-10-23 11:13] anuchinnu opened #70 "Unable to store & retrieve Uploaded image & Video"
I have integrated this with a PHP framework. but I am unable to handle the Image & video with blob url .Taking too much time to load and and save every images.

[2017-10-23 20:25] bradmac commented on #70
What do you mean?

[2017-10-24 03:56] ducdhm commented on #70
@bradmac Our original photo component is saving image as based-64.

@anuchinnu You should customize photo component follow what you want. The source code of photo component is available at https://github.com/Kademi/keditor/blob/master/src/js/keditor-component-photo.js

[2017-10-24 04:12] ducdhm commented on #69
@Rilvatore Which version KEditor are you using?

[2017-10-24 07:12] Rilvatore commented on #69
I use the 1.1.5 version. When I saw I had problems of duplication, I upgraded the plugin (the first version i had was 1.1.3).
Yes I use the `keditor('getContent')` property to get the content of my editor.

[2017-10-25 12:40] #70 closed

[2017-11-02 02:33] ducdhm opened #71 "Add callback before init component, container and contentarea"

[2017-11-02 02:34] ducdhm opened #72 "A lot of unnecessary log messages"

[2017-11-02 03:06] rosnaib11 opened #73 "Is there example how to save content you make?"

[2017-11-02 03:35] #72 closed

[2017-11-02 03:35] #71 closed

[2017-11-02 04:35] ducdhm commented on #73
@rosnaib11 We have doc about `How to get content of KEditor` at https://github.com/Kademi/keditor#how-to-get-content-of-keditor

[2017-11-02 05:39] #73 closed

[2017-11-02 15:47] Rilvatore commented on #69
I thank it's very strange also for you... ;)
Do you have any other idea where I could search in the plugin to resolve this issue?

[2017-11-02 18:23] rip747 opened #74 "Tests?"
Is there any internal discussion about possibly implementing a test  suite like mocha in order to make sure that regression doesn't happen?

There are libraries such as drag-mock that could help with writing tests

https://www.npmjs.com/package/mocha
https://www.npmjs.com/package/drag-mock

[2017-11-02 18:55] titopalito opened #75 "How to put the sidebar in a div?"
I was trying to put the "content-area" and the "keditor-sidebar" in a "div" but I can not do it.
If someone can help me with this, I would be very thankfull.

[2017-11-02 22:54] ivantowers opened #76 "Save html code from dynamic content"
Hello,

Im new using keditor and not an expert for javascript....

How to save the HTML code generated for a dynamic content component??

I create a file for a dinamyc content "_dynamic_content.php" inside this file i have this code:

[code]

In the editor shows the text:

"article01"

Text passed by the dynamic component "data-article="article01"".

Then i create a function in javascript to gener

[2017-11-03 03:03] ducdhm commented on #69
@Rilvatore I checked 3 times with your HTML data and I could not reproduce this issue. So... I have no idea how it happens. It'll be good if we have real code in action for checking.

[2017-11-03 03:11] ducdhm commented on #75
@titopalito I have a question for you: Why do you want to put them together in a div? As in source code, `keditor-sidebar` will be append to `document.body`. However, if you want, you can request a feature to specific div for `keditor-sidebar`

[2017-11-03 03:18] ducdhm commented on #76
@ivantowers As original concept of dynamic element, it's always dynamic so whenever you load content with dynamic element, you're always need to load content for it. There are 2 ways to do it:
 1. Via server: You can add code in your server-side for detecting dynamic component with attribute `data-dynamic-href` and generate content for it
 2. Via client: You can add js code (not in editor page) fo

[2017-11-03 03:26] ducdhm commented on #74
@rip747 Probably, we have a plan to add tests for it but still have no time for it. If you don't mind, you can help us to do it ;)

[2017-11-03 03:26] bradmac commented on #74
:+1:

[2017-11-03 13:24] Rilvatore commented on #69
Again thank you for your response. Here is an example of complete HTML content for a page edited with keditor:

`<section>[WHEEL_MANDATAIRES]
	<div class="service-page">
		<div class="grey-line">
			<div class="wrapper">
				<div class="row">
					<div class="col-md-3 first-col" data-type="container-content"><section data-type="component-text"><img alt="" src="/assets/admin/js/keditor/examples/plu

[2017-11-03 17:37] rip747 commented on #74
wouldn't mind at all. I have sometime next week so I will look into it.

[2017-11-09 04:24] titopalito opened #77 "Unclosed img tag"
Hello,
Actually i'm programming in JSF and saw that the img tag is unclosed like this:
`<img style="example">` and it causes crashes when i try to run a page with pre-loaded content.
Can you tell me how to resolve the problem?
I'll appreciate your patience.
Thanks a lot.

[2017-11-09 04:45] ducdhm commented on #77
@titopalito You can change to `<img style="example" />` and change the doctype of your website too.

[2017-11-15 09:14] Padawan2200 commented on #63
I encountered the same problem, i need to set content to the editor after it was already initialized.
The solution is to set the content with jQuery html and create the keditor component.
The only thing you must take into account in order to be able to drag and drop snippets is to update the containers for drag&drop.
Something like this:

$('#ContentArea').html(newContent);

$('#ContentArea').kedi

[2017-11-16 03:13] #77 closed

[2017-11-16 03:13] #76 closed

[2017-11-16 03:18] ducdhm opened #78 "KEditor: containers should not resize while dragging a component"
Needed for https://github.com/Kademi/kademi-dev/issues/4414

[2017-11-16 03:19] ducdhm opened #79 "Init method of component is not called if loading dynamic content fails"

[2017-11-16 03:20] #79 closed

[2017-11-16 03:37] #75 closed

[2017-11-16 03:51] ducdhm commented on #69
@Rilvatore I checked with the HTML content which you provided for me and I didnt get any problem with it. Please kindly debug in your side for investigating.

[2017-11-16 03:51] #69 closed

[2017-11-16 04:37] ducdhm commented on #63
@Padawan2200 I added method for setContent dynamically. You can check at https://github.com/Kademi/keditor#how-to-set-content-of-keditor

[2017-11-16 04:37] #63 closed

[2017-11-16 07:12] #78 closed

[2017-11-16 22:02] rip747 opened #80 "Add src\css to ignore list"
I don't see why these were tracked since they are generated after being compiled. I currently ignore them in my branch

[2017-11-17 02:11] ducdhm commented on #80
@rip747 `dist` directories for releasing. When I public a release, I'll build dist with latest version number. There are a lot of developers which they really don't care about LESS, gulp, etc... related to development. They just need final js and css files.

About `src\css` directories, I'll add it in gitignore, it's just for development

[2017-11-18 04:31] #80 closed

[2017-11-18 17:05] aref-lazrek opened #81 "Not able to add more than three content area"
First I appreciate this great work
the issue happen when adding more than three content area

`
        <script type="text/javascript">
            $(function() {
                $('#content-area1, #content-area2, #content-area3, #content-area4, #content-area5').keditor();
            });
        </script>`

[2017-11-18 23:37] aref-lazrek commented on #81
the problem happen when there is no contentareaselector in opyion, I solved it by adding
`        var contentAreas=target;` on line 906

[2017-11-18 23:37] #81 closed

[2017-11-20 02:31] ducdhm commented on #81
@aref-lazrek The concept of keditor is `$('target').keditor({contentAreasSelector: 'selector1, selector2, etc...'})`. It means your `$('target')` will contains content area. You dont need to change anything, just need to wrap all your content area by a div and initializing keditor for this div and specific `contentAreasSelector` for it.

[2017-11-21 10:50] Jordy-A opened #82 "SetContent() on iframe gives error"
When I enable the iframe mode and use `setContent()`, I get the following error: `Uncaught Error: cannot call methods on draggable prior to initialization; attempted to call method 'option'`` and it fails executing the code.

[2017-11-21 14:10] Jordy-A opened #83 "CKEditor not working when using iframe mode"
When using the iframe mode, the ckeditor is not working properly. For instance, because the utf charset is not set, weird characters are shown when using page breaks. And, also, there are some other things not working: for instance, when adding more than one section, you can't select text anymore and make them bold or do something else.

I think, this can be fixed by sending the ckeditor javascrip

[2017-11-22 09:01] Rilvatore commented on #69
We still have the issue, it happens on macs with latest chrome & safari browsers. Not on linux however. I really count on you, we don't have any clue :( do you have any idea of "hotfix" that could prevent code sections from duplicating?

[2017-11-22 09:39] bradmac commented on #69
Can you reproduce this on a clean machine with fresh browser? Eg browserstack?

If so then to allow us to reproduce the issue please make your running code available on a public website and we can also use browserstack with the same OS and browser to reproduce the problem.

If the problem is not reproducible in browserstack, then that means the problem is due to some problem on the specific pc's y

[2017-11-27 15:42] EadHassan opened #84 "destroy plugin option"
How can i destroy the plugin when button clicked ?

[2017-11-29 15:06] eliooses opened #85 "#feature | Custom css of my components/snippet"
I need the possibility of edit the BG color/imager, etc. of my components. I know what is not hard with JS.

I will try to do this, but if someone else already made it please let me know and add to the project.

Thanks in advance.

[2017-12-11 09:52] Rilvatore commented on #69
Hello guys, i'm coming back with some news with my issue.
The problem could come from the Retina display from our Macs. Here is two screenshots:
![capture d ecran 2017-12-11 a 10 00 35](https://user-images.githubusercontent.com/8143609/33824866-08a9e1c6-de60-11e7-9aac-76e527803e88.png)
This screenshot is when you open the editor with a normal screen (not retina)
<br/>

<img width="1363" alt="captu

[2017-12-11 20:51] bradmac commented on #69
Thanks for the detailed info!

@ducdhm can we test with a retina display on browserstack?

[2017-12-12 18:18] dmaus opened #86 "Multiple Content areas demo not working"
The demo with multiple content areas is not working: https://rawgit.com/Kademi/keditor/master/examples/multi_content_area.html

I can only add content to the last area.

(Chrome 62)

[2018-01-06 09:56] 01AbhaY opened #87 "I want to add new components. Can you please help me with that? A list of steps would do fine."

[2018-01-06 17:06] rebbieboi opened #88 "Change image source from blob to base64, missing location for changed image of photo component"
Currently, when I change the image of the photo component I get this as the image src:

blob:http://localhost/be9737ae-4b93-49ff-9cc4-c6ca4f50fa60

Is it possible to change to use base64 instead so that it would be easier in generating PDF or sending the contents via Email?

Also, is the image actually uploaded if yes where can I find it?

When I used:

`$('#content-area').keditor('setContent', '<

[2018-01-07 18:04] baldolfo opened #89 "How save content-area after edit text??"
Save button does not exist...
How can I put it?  With ckeditor inlinesave does not work

[2018-01-12 08:59] pankaj506 opened #90 "How can we save the content while dragging the component or container ?"

[2018-01-19 16:45] nev3rmi opened #91 "[Request] Drag Container on Container"
I want to load drag container inside another container could you please provide this, so it will be very helpful to create the layout for the page.

Thanks you :)

[2018-01-19 16:46] nev3rmi opened #92 "[Issues] Could you please check the dynamically content"
It seems not work on my side. After I get the content and save it to db, after I retrieve the content, nothing happens if it is the dynamic content.

[2018-01-21 03:19] nev3rmi opened #93 "[Modified Features] Load Multiple Components"
It is really difficult to modify the keditor-components-xxx.js when it become large, so I modify the code and make it a lot of easier.

If this feature exist please ignore it :)

The new folder gonna add in is: components

And all the files inside the folder will be loaded.

In keditor.js have 2 variables is necessary:

Line 81: componentName: // Type: [ARRAY] This will be the name files
Line 97:

[2018-01-23 09:29] ducdhm opened #94 "Container type"
Instead of only grid layout for container, I want something like Tab container.

[2018-01-23 09:54] ducdhm commented on #94
https://github.com/Kademi/kademi-dev/issues/4768

[2018-01-24 16:06] raphaelcrouzet commented on #69
Hello guys!

First of all, I would like to wish you an happy new year!
I'm comming back here to get news if you have some clues with my issue :)

If that is the case I'll be glad to get it!

Thank you!

(The previous link for the demonstration video has expired, here is a new one: https://ufile.io/it4wj)

[2018-01-24 16:08] Rilvatore commented on #69
Hello guys!

First of all, I would like to wish you an happy new year!
I'm comming back here to get news if you have some clues with my issue :)

If that is the case I'll be glad to get it!

Thank you!

(The previous link for the demonstration video has expired, here is a new one: https://ufile.io/it4wj)

[2018-01-25 10:08] ducdhm commented on #94
Don't need this anymore!

[2018-01-25 10:08] #94 closed

[2018-02-07 17:10] nicolain06 commented on #69
Hi guys, I have the same issue on our retinas, did you find a way to fix it?

[2018-02-14 20:40] Williammonte7 commented on #93
I could not install, have to send link, already installed please?
another question, these new components work (component-carousel-v2, component-360view, component-iframe )

[2018-02-16 14:01] joakim-emagine commented on #92
I am having that same issue, trying to figure out how to trigger the content loading on the frontend. I have already included the required Js files.

[2018-02-16 16:31] joakim-emagine commented on #92
Via client: You can add js code (not in editor page) for getting data via AJAX.

From closed issue #76

I used the via client option of just initiating Ajax call
[code]

[2018-02-19 03:21] andrewsumichan opened #95 "Video being displayed in editor but not on the outputted string"
Hello everyone.

My name's Andrew. I discover this plugin 5 days ago and really amazed by how simple yet interactive this plugin work.
I use this editor to edit a page design and integrate with wordpress, everything was cool . image being displayed and all. I even change the upload mechanism to integrate with gallery plugin to suit my need. best of the project is the code was super simple and easy

[2018-02-23 08:52] nev3rmi commented on #92
I create a new component and trigger it by $.jquery load

[2018-02-23 08:55] nev3rmi commented on #93
Did you include all the necessary files ?

[2018-02-23 12:35] Williammonte7 commented on #93
I tried to install the files but i could not, I would like to see if you can send me files for download already installed ? I thank

[2018-02-23 17:27] nev3rmi opened #96 "[Feature Request] Implement Formbuilder.online to Keditor as a component of keditor :)"
I am planning to build this feature please help me :)

Requires:
Formbuilder.online
KEditor

[2018-02-25 17:13] ducdhm commented on #83
@Jordy-A Can you give me more details about this issue? Maybe live code?

[2018-02-25 17:14] ducdhm commented on #84
@EadHassan We already have issue for it (https://github.com/Kademi/keditor/issues/17). I'll implement it soon.

[2018-02-25 17:14] ducdhm commented on #17
https://github.com/Kademi/keditor/issues/84

[2018-02-25 17:14] #84 closed

[2018-02-25 17:17] ducdhm commented on #87
Hi @01AbhaY, please do the following:
 * Firstly, you need to add new snippet for new component. The guide is [here](https://github.com/Kademi/keditor#customize-snippet)
 * Secondly, you need to add handle for new component. The guide is [here](https://github.com/Kademi/keditor#customize-component-type)

Please let me know if you have other questions

[2018-02-25 17:19] ducdhm commented on #89
hi @baldolfo, you can user `$('#id').keditor('getContent');` to get entire content of content-area. And then, you need server-side stuff to store this content.

[2018-02-25 17:23] ducdhm commented on #91
@nev3rmi We already implemented this feature at https://github.com/Kademi/keditor/issues/68. We also publish this feature in v1.1.5 (https://github.com/Kademi/keditor/releases/tag/1.1.5)

[2018-02-25 17:23] #91 closed

[2018-02-25 17:27] ducdhm commented on #92
@joakim-emagine @nev3rmi Original concept of dynamic component is making component's content *dynamic* and *always dynamic*. In `Editing mode`, Keditor automatically loads dynamic component from `data-dynamic-href` with addition params from `data-*` attributes. So in `Reading mode` or frontend, your server need to handle the content of these dynamic components.

[2018-02-25 17:31] ducdhm commented on #93
Hi @nev3rmi, keditor-components-xxx.js is just standard or plain components which Keditor provides for developers to image how to create components. In real world, you can use server-side to merge all your components into a file and include this file into your website.

[2018-02-25 17:45] ducdhm commented on #95
Fixed!

[2018-02-25 17:45] #95 closed

[2018-02-25 17:55] ducdhm commented on #88
@rebbieboi I have changed `Photo` component. Now image will be stored as base64 when you change.

FYI: Keditor is frontend stuff. It doesnt store image in any where. You need to implement your server side stuff to store image.

[2018-02-25 17:55] #88 closed

[2018-02-25 18:48] Williammonte7 opened #97 "Containers component Settings"
Is there any component for Containers to change background color and image as a background ?

[2018-02-26 01:41] ducdhm commented on #97
@Williammonte7 Container is container and component is component. As I understand, you want to change background color and image for container. If you want to do this, you can use these options for enabling and setting up settings for containers:

[code]

[2018-02-26 01:42] ducdhm opened #98 "Improve examples of keditor"
* Add basic example for enabling settings for container
 * Enable user to view source in example

Related to https://github.com/Kademi/keditor/issues/97, https://github.com/Kademi/keditor/issues/85

[2018-02-26 01:44] ducdhm commented on #85
@eliooses If you're still finding out the solution or code example for it, I'll implement an example for changing background color and image for container at https://github.com/Kademi/keditor/issues/98

[2018-02-26 01:44] #85 closed

[2018-02-26 01:50] nev3rmi commented on #93
@ducdhm:
Hi, actually I like the ideas to keep all components separate :)

@Williammonte7:

Hi, can you show me the error so then I can help you :)

Did you change those yet ?

[code]

[2018-02-26 02:22] nev3rmi commented on #93
@Williammonte7:

https://picks.work/dev/lab/keditor/examples/blank.html

Full loaded :)
[keditor.zip](https://github.com/Kademi/keditor/files/1757053/keditor.zip)

[2018-02-26 02:23] ducdhm commented on #93
@nev3rmi But it'll take more time to load components via AJAX. If you still want to do it, you can fork and change :)

[2018-02-26 02:26] nev3rmi commented on #93
just field second but It to manage code It better :)

[2018-02-26 02:39] nev3rmi commented on #92
So you mean the kEditor didn't do anything in the reading mode @@? am I right ?

[2018-02-26 02:41] nev3rmi commented on #91
Do you have any example, I try it but seem like not working???

[2018-02-26 02:47] nev3rmi commented on #68
Thanks you :)

[2018-02-26 04:00] ducdhm commented on #92
@nev3rmi Keditor means it's a editor. It just takes care of editing stuff, not reading mode. The name of it is so meaningful.

[2018-02-26 04:02] eliooses commented on #85
Hi there @ducdhm !

Yes, I still finding out this solution.

Thanks a lot in advance.

[2018-02-26 04:09] ducdhm commented on #91
@nev3rmi What do you mean not working?

[2018-02-26 04:16] ducdhm commented on #93
@nev3rmi I think you misunderstood between dev and prod mode.
 * In dev mode, you really need a good structure to manage and maintain your code. So you can separate your components in to folders/sub folders
 * But in prod mode, end-users, they dont care about how you manage or maintain your code. They just care your editor is loaded fast or slow. By separating components into small parts in prod m

[2018-02-26 04:16] #93 closed

[2018-02-26 04:47] #92 closed

[2018-02-26 05:35] nev3rmi commented on #91
This one worked already thanks for your support :) please closed this

[2018-02-26 05:36] nev3rmi commented on #93
Thanks you ^^, I really like this plugin haha

[2018-02-26 05:37] nev3rmi commented on #92
ok then I gonna do the component for dynamic content ^^

[2018-02-26 15:20] baldolfo commented on #89
Thank.... but i think is difficult . Php is hard for me........

[2018-02-27 09:12] Dhara-ZYMR opened #99 "Chart.js component with keditor"
Has anyone tried to implement chart.js as a component with keditor.
Some direction regarding the same will be helpful.

[2018-02-28 09:26] Dhara-ZYMR commented on #38
Any updates regarding Angular Directive?
If not can you please provide a guideline to create one.

[2018-02-28 10:49] Dhara-ZYMR commented on #33
Hi @ghost
I like to do a similar thing.. Can you please share your code which you have done.
It would be much appreciated!

@bradmac Any way to get snippets and its data dynamically?

[2018-02-28 15:00] ducdhm commented on #33
@Dhara-ZYMR You can check my comment in this issue to know the ways to load dynamic components' content: https://github.com/Kademi/keditor/issues/76#issuecomment-341614569

[2018-02-28 17:23] ducdhm commented on #86
Fixed!

[2018-02-28 17:23] #86 closed

[2018-02-28 17:25] ducdhm commented on #89
Hi @baldolfo, it's PHP stuff is not related to Keditor. We just take care of JS stuff only. So I'll close this issue. Hope you can find the solution for yourself with PHP

[2018-02-28 17:25] #89 closed

[2018-03-04 17:23] ducdhm commented on #65
It's not good UX so close this issue

[2018-03-04 17:23] #65 closed

[2018-03-09 10:04] Dhara-ZYMR opened #100 "Cannot read property 'draggable' of undefined at KEditor.setContent"
Hi @ducdhm ,

I have dynamically added multiple keditor instance on my page like:
$('#editor1').keditor();
$('#editor2').keditor();
$('#editor3').keditor();

(Note: I have not used it like you have in your multiple content area example because when I do getContent , then in that case, I get data of all the content-areas merged, so I cant differentiate html of each content area).

Coming to my issu

[2018-03-13 12:21] Dhara-ZYMR commented on #100
@ducdhm any update over this?

[2018-03-17 03:17] ducdhm commented on #100
@Dhara-ZYMR About the properties you see in keditor object, the visible keys are properties, methods of keditor are in `__proto__` key. It's new ways Chrome Web Development Tools displays object in `Console` tab

[2018-03-19 10:42] Dhara-ZYMR commented on #100
Ya but for second keditor instance on the same page it does not contain properties like componentSnippets, containerSnippets, snippetsComponentCategories and snippetsContainerCategories. It is possibly due to below code:
if (body.hasClass('initialized-snippets-list')) {
	            flog('Snippets list is already initialized!');
	        } else {
	            ajaxRequest = self.initSidebar();

[2018-03-19 11:58] Dhara-ZYMR commented on #100
@ducdhm , Can we dynamically add more ids to contentAreasSelector for having multiple content area?

[2018-03-20 13:47] rebbieboi opened #101 "How to add more tabs?"
How can I add more tabs?

I've edited keditor-1.1.5.js

[code]

But the new tab doesn't display still

[2018-03-20 14:15] rebbieboi commented on #101
I can't seem to update the file stated above in this part of the code:
[code]

An example on how to update the config would really be appreciated. Thank you

[2018-04-03 20:50] ccwalkerjm opened #102 "snippet preview images appearing"
I cant understand why I am getting the preview images on canvas.  Whenever I dropped a container or a component I also get the preview image of the snippet.   This wasn't happening before but since I upgraded to the latest codes it started to happen.  I am also using Bootstrap 4.

Note a simple example of a generated html.. Note the image tag....

[code]

[2018-04-03 21:08] ccwalkerjm commented on #102
I tried to remove the images by using the events such as onContentChanged,      onComponentSnippetDropped and  onContainerSnippetDropped but to no avail as the preview images are dropped after these events.  If I knew the final event that occured when a snippet is dropped then I could remove the images.  I know there is a cleaner way but I just need  to fix this issue quickly.

[2018-04-05 13:13] viableart opened #103 "Deactivate keditor console.log"
Hi,
Is there a chance to deactivate the standard console.log?
It's a lot of not useful information inside the console.log from keditor (objects etc.).

[2018-04-16 05:03] ducdhm commented on #103
@viableart you can use `$.keditor.debug` to turn on/off log of KEditor

[2018-04-16 05:03] #103 closed

[2018-04-16 05:04] ducdhm commented on #83
No details, so I close this issue.

[2018-04-16 05:04] #83 closed

[2018-04-17 09:29] orazionelson opened #104 "inline editing: keditor + x-editable"
Hello,
I'm integrating x-editable to in-line edit a page created in keditor.
https://vitalets.github.io/x-editable/
I create a snippet with the script that shows a **select** with field options but the problem is that it doesn't work when I just drag the snippet, I have to save the file before.

How can I make it work at "runtime"?

![schermata da 2018-04-17 11 20 35](https://user-images.githubuse

[2018-04-17 09:57] orazionelson opened #105 "[Feature] Integrating an image prototyping service in keditor"
In design It is useful to use image prototypes rather than real images,
some services offer an easy way to build images on the fly.
Here I'll show how to integrate a service like: https://fakeimg.pl/

https://gist.github.com/orazionelson/f2cc4cc4055020ac5fd758b3a01d5417

[2018-04-17 10:25] ducdhm commented on #105
Hi @orazionelson, it's great idea for creating prototype or wireframe. But with KEditor, we create/build real web content with real assets like images, videos, etc... I dont see any reason to add placeholder image to photo component. But if you want, you can your own component for it, somethings like `photoHolder`.

Cheers,
/Duc

[2018-04-17 10:48] orazionelson commented on #104
Load the CSS and the JS:
[code]

This is the snippet, I pass everything is possible with data-*

[code]

_(If it doesn't work try to change allo single quotes wth entity: **& quot ;** in **data-source**)_

Then just trigger the x-editable in the editor page:
[code]

[2018-04-17 10:53] ducdhm commented on #104
@orazionelson You did it wrong mate. To create new component type, you need create your own handler for this component. Please read [this guide](https://github.com/Kademi/keditor#customize-component-type);

[2018-04-17 11:01] orazionelson commented on #105
hi @ducdhm,
let me say: keditor is simply great!!! And I'm usign it to build a tool to create page wireframes so I had the idea to integrate fakeimg.pl :)

I just found one problem in keditor, it makes a lot of entropy in the code, saving and saving the page makes a lot of empty sections.

So, I have to write a script to clean the result :\

[2018-04-17 11:10] orazionelson commented on #104
Yes, that's just a first approach, i read the guide and now I'm working on keditor-components file.

I made a new component:
`(function ($) {
    var KEditor = $.keditor;
    var flog = KEditor.log;
    KEditor.components['editable'] = {
...
`
But I can't find the way to trigger the x-editable after the component has been dragged and released on the page :\

[2018-04-17 11:27] orazionelson commented on #104
I did It!!!!

`(function ($) {
    var KEditor = $.keditor;
    var flog = KEditor.log;

    KEditor.components['editable'] = {
        options: {

        },

		//settingEnabled: true,
        init: function (contentArea, container, component, keditor) {
            flog('init "editable" component', component);
            var componentContent = component.children('.keditor-component-content');

[2018-04-17 11:27] #104 closed

[2018-04-17 15:58] nicolain06 opened #106 "bootstrap 4"
Hello, is there any update to work with boostrap 4 instead of boostrap 3?

Otherwise, is there any way to load JS using the iframe mode (exactly as with the contentStyles method for CSS)?

[2018-04-17 15:59] nicolain06 commented on #69
Hello, still not working there.... any fix please?

[2018-04-17 16:17] ducdhm commented on #106
@nicolain06
About Bootstrap 4, we dont have any plan yet but acctually, you still can use bootstrap 4 as content snippets

For your second question, we have a callback named `onInitFrame`. You can use this callback for your stuff.

[code]

[2018-04-17 20:16] bradmac commented on #104
:+1:

[2018-04-18 01:49] ducdhm commented on #104
Well done @orazionelson 💯

[2018-04-18 01:56] ducdhm commented on #106
@nicolain06 Let me explain about the iframe first. There are 2 types of iframe:
 * External iframe with `src` attribute: with this kind of iframe, all you need is specifying src (external URL) for it. And you *CAN NOT* do anything with it because of security issue.
 * Internal iframe: with this kind of iframe, you can 100% control it by yourself. And KEditor uses this kind of iframe to handle `ifr

[2018-04-18 02:08] ducdhm commented on #105
@orazionelson I didn't get what you mean. Can you provide me example?

[2018-04-18 04:49] ducdhm commented on #98
New button in example for viewing source:
![newui](https://user-images.githubusercontent.com/1289631/38912253-7a19c4ea-42fe-11e8-8f7f-ceb83f690cc2.png)

HTML tab in Source modal:
![newui2](https://user-images.githubusercontent.com/1289631/38912263-847ca218-42fe-11e8-8eb9-b510b4303adc.png)

JS tab in Source modal:
![newui3](https://user-images.githubusercontent.com/1289631/38912270-8929a702-42fe-11

[2018-04-18 06:46] ducdhm commented on #90
No information. So closed!

[2018-04-18 06:46] #90 closed

[2018-04-18 06:47] #74 closed

[2018-04-18 06:53] ducdhm commented on #100
@Dhara-ZYMR

Sorry, we can not :(

[2018-04-18 07:26] ducdhm commented on #100
@Dhara-ZYMR I missed this section in your issue:

You can get content in array format: `$(target).keditor('getContent', true)`

[2018-04-18 07:31] #87 closed

[2018-04-18 09:25] rebbieboi commented on #101
@ducdhm Thank you that really helps! :)

[2018-04-19 01:45] webkiumaa opened #107 "Can I switch CKEDITOR TO SUMMERNOTE?"
Hi, dude. what a amazing work.
Is it possible that use summernote as text editor instead of CKEDITOR?
thanks.

[2018-04-19 01:48] ducdhm commented on #107
Hi @webkiumaa,
You do whatever you want with KEditor. For your case, you can edit source code of text component. And then rebuild `dist` with command `gulp build`.

Cheers,
/Duc

[2018-04-19 02:11] webkiumaa commented on #107
Hi, Duc.
Summernote inline editor looks more user-friendly and fast.
anyway, CKEDITOR not bad.

Cheers

[2018-04-19 05:08] ducdhm commented on #100
Fixed!

[2018-04-19 05:08] #100 closed

[2018-04-23 11:22] Newsourcing-A opened #108 "How to change image in Kademi keditor container?"
I have Image Component in my keditor. After dropping that Image Component into a Container, how can I change it with another image  from my computer?  In the Image Properties (which comes in right click) there is no option to upload  image  from my computer. Can only add image from urls from internet.

![capture](https://user-images.githubusercontent.com/18289063/39123775-7be10470-4716-11e8-833a-1

[2018-04-23 15:04] ducdhm commented on #108
@Newsourcing-A: I think you're mentioning Text component. Not image component. About text component, we're using [CKEditor](https://ckeditor.com/ckeditor-4/). If you want to add more button like Upload, please read Documentation of CKEditor.

Cheers,
/Duc

[2018-04-24 06:42] Newsourcing-A commented on #108
Hi,
   Thanks for your reply.  I mentioned the Image Component. After dropping that Image Component into a Container (marked by red arrow in the image), how can I change to another image from my computer?

![imgcomp](https://user-images.githubusercontent.com/18289063/39170246-75c57696-47b8-11e8-81db-29c3ad02e630.PNG)

Please help.

[2018-04-24 08:32] ducdhm commented on #108
@Newsourcing-A Is it in your own editor or live example of KEditor? Because at [example](https://rawgit.com/Kademi/keditor/master/examples/basic_with_blank_content.html) of KEditor, I still can change source of Image component. Just click `Change photo` button.

![newui](https://user-images.githubusercontent.com/1289631/39175489-a99c8e52-47d4-11e8-842e-9275694ce3e4.png)

[2018-04-25 06:29] Newsourcing-A commented on #108
Hi,
Thanks a lot for your reply. For Image component I can upload photo. But for Image component with text, marked by red arrow in attached image I couldn't upload photo from my computer.

![capture](https://user-images.githubusercontent.com/18289063/39229258-972619cc-487f-11e8-9171-aece0cea9461.PNG)

 In the Image Properties (which comes on right click of image) there is no option to upload image

[2018-04-25 06:51] ducdhm commented on #108
@Newsourcing-A As I mentioned above, it's CKEditor stuff. If you want to do something with it, please go to CKEditor forum or communities for helping.

Close this issue now.

Cheers,
/Duc

[2018-04-25 06:51] #108 closed

[2018-05-02 01:42] ducdhm opened #109 "Gen 2 of KEditor"
Changes:
 * `Add button` at bottom of `container` or `content area` to allow user to add container or component
 * When click `Add button`, a modal will be showed. The snippet will be depends on which `Add button`. Can be `container`, `sub container` or `component`.
 * Remove snippets list in sidebar
 * When click on setting icon, will show sidebar with setting forms

Related to https://github.com

[2018-05-02 01:50] bradmac commented on #109
Great stuff! The main thing is to not use drag and drop for adding components, because its really hard to get them in the right positions, especially now we have nested containers.

Instead we want partially transparent buttons at the end of each container the user can click or tap to insert, which displays a full screen modal of containers and components. The user taps a container or component an

[2018-05-02 02:58] anhnt commented on #109
Yup we got issue with inline editor https://github.com/Kademi/kademi-dev/issues/5392

[2018-05-02 03:14] bradmac commented on #109
That would make our users very sad. It would be a big step backwards, and would make keditor inferior to editors in other platforms.

CK editor fully supports inline editing so i dont think there's any reason to stop doing this:
https://ckeditor.com/ckeditor-4/#inline

[2018-05-02 05:01] bradmac commented on #109
Problem is that sits over the edited area.

We would need to limit the content area to be beside and not under the sidebar. This is ok for mailchimp because it only does emails which is always narrow content. But we're supporting web pages which need the full width to be available.

But also and more importantly this would dis-associate the editor toolbar from the content being edited so would be

[2018-05-02 08:47] ducdhm commented on #96
New component preview:
![newui](https://user-images.githubusercontent.com/1289631/39513950-121beabc-4e20-11e8-8e46-c2afe76c1348.png)

[2018-05-02 08:47] #96 closed

[2018-05-02 08:49] #105 closed

[2018-05-02 08:49] #106 closed

[2018-05-03 02:01] nev3rmi commented on #96
tks you :)

[2018-05-03 02:14] ducdhm commented on #109
@bradmac I think we should hide some plugins from CKEditor like Video, Audio, Image and Youtube. We already have them as components. It'll make CKEditor toolbar more elegant.

[2018-05-03 02:45] bradmac commented on #109
We definitely need the image toolbar to still be there, thats often used in ckeditor content in ways that components cant replicate, eg when flowing text around an image.

In theory video and audio could be the same, but in reality these are very rarely used like that, so i think we can remove them.

But thats just a default, users of keditor can choose which plugins to enabled with ckeditor right

[2018-05-03 08:37] ducdhm commented on #109
Mockup for Gen 2:
1. Button add `container`, `subcontainer`, and `component`
![content_editor_page](https://user-images.githubusercontent.com/1289631/39566872-3d097830-4ee7-11e8-9690-39396af20647.png)

2. Modal for snippets
![show_modal](https://user-images.githubusercontent.com/1289631/39567014-c2a6d97e-4ee7-11e8-8161-78b9060d459f.png)

3. Settings sidebar
![show_setting](https://user-images.gith

[2018-05-03 09:31] orazionelson commented on #105
Hello,
I mean this, even if I create a simple container like this:
`<div data-type="container" data-preview="snippets/default/preview/row_12.png" data-keditor-title="Bootstrap container" data-keditor-categories="simple container">
    <div class="container">

    </div>
</div>`

the result is like this:
`<section>

<div class="row">
<div class="col-md-12" data-type="container-content">
<section><d

[2018-05-03 10:51] hferreira opened #110 "How to enter preview mode ?"
OK, I have my content designed, now, how can I enter in preview mode (read only mode) so that I can share a view and also print ?

[2018-05-03 15:05] ducdhm commented on #110
@hferreira You can get content of KEditor via `.keditor('getContent')` method and display this content in your preview section

[2018-05-03 15:09] ducdhm commented on #105
@orazionelson

For first sample:
[code]

The result is correct. Because you have a container with 1 column (`col-md-12`). Inside this container, you have a sub container (your custom container) and a blank text component.

[code]
If you can provide live example with step by step to reproduce, it's great. With only result like this, I can not help you.

[2018-05-03 15:48] hferreira commented on #110
Thanks

[2018-05-03 16:01] #110 closed

[2018-05-11 01:19] Williammonte7 opened #111 "When Enable settings for container and Extra tab Search filter disappears"
How can I resolve this problem

[2018-05-11 02:14] bradmac opened #112 "Device width selection"
It would be awesome if we could add device width selection to the editor, so we can see how the content will look on different devices while in the editor

I think this would be 3 buttons - smartphone, tablet, desktop

Probably along the top of the editor

Thoughts?

[2018-05-11 02:17] bradmac commented on #112
![image](https://user-images.githubusercontent.com/826458/39903173-f53cbbbc-5525-11e8-963a-210533fdec83.png)

[2018-05-11 04:26] ducdhm commented on #112
Or maybe let me do a little example in keditor for this feature. It'll be cool if people knows that we also have preview feature 😃

[2018-05-11 04:27] bradmac commented on #112
What i'm thinking is that this will still be part of the editor, ie the editor canvas displaying the content would be narrowed, but the edit features will still be active.

I think that would be a powerful feature to assist with editing

[2018-05-11 16:02] Williammonte7 commented on #112
Good afternoon friend bradmac,  saw your print and noticed that its Kademi/keditor has amazing features such as Save, Edit and select Page. I imagine that must have given work to reach this level. I would like to know if you have how to share i'm starting now and these improvements made by you would help me a lot.

[2018-05-13 21:34] bradmac commented on #112
Hi @Williammonte7 great to hear you like it! there's some getting started docs here - https://github.com/Kademi/keditor

[2018-05-16 14:02] voornaam opened #113 "Text component toolbar ignores breaks?"
I'm trying to create a custom toolbar but I can't figure out how to add breaks in it.  Is there a way to add breaks to the text component's toolbar? I've tried using '/' but this doesn't seem to work at all.

[2018-05-17 09:35] reshiin opened #114 "Unable to add container on a blank content"
Tried to drag a container on the sample project with blank content, unable to add.

[2018-05-17 09:36] reshiin commented on #114
My mistake, the container should be place on top of the blank content.

[2018-05-17 09:36] #114 closed

[2018-05-18 08:58] reshiin opened #115 "Toolbar for Youtube Settings not showing upon hover on IE11"
Unable to change the video of youtube and vimeo because of this.

[2018-05-18 15:13] remcovog opened #116 "component suggestion"
Is there a place where people can download (or add) more components / containers, and submit to the project or community. I know, it is quit easy adding more components myself.  I can manage adding -for example- a pricetable or button component with configurable options, (I guess more people would be interested in these kinds of basic components). Or nice addons like a rgba colorpicker for backgro

[2018-05-20 00:28] bradmac commented on #116
:+1:

[2018-05-22 17:15] ducdhm commented on #113
@voornaam Can you provide me the screenshot for what you want? I still dont get what you mean

[2018-05-22 17:15] #102 closed

[2018-05-23 05:57] voornaam commented on #113
![screenshot_requested_toolbar](https://user-images.githubusercontent.com/39339299/40405818-619a3fd2-5e5e-11e8-8dad-15c0d3589aa1.PNG)
![screenshot_current_toolbar](https://user-images.githubusercontent.com/39339299/40405819-61c40862-5e5e-11e8-9cc9-33801b6a7c4b.PNG)

In these images you can see that one toolbar doesn't have any breaking spaces and the other does. The one with the breaking spaces is

[2018-05-28 17:12] ducdhm commented on #113
@voornaam Just take a look at [this file](https://github.com/Kademi/keditor/blob/master/src/less/keditor-component-text.less). Line 18 to 31, these lines is custom style of KEditor to force CKEditor toolbar items are in same row. You can remove these lines and you can see what you need.

Cheers,
/Duc

[2018-05-28 17:13] #113 closed

[2018-05-28 17:17] ducdhm commented on #111
@Williammonte7 Can you provide me more information or lived code for this issue?
As I understood, when you enable Settings for Container and have an extra tab, the search filter of component and container are disappears?

[2018-05-29 06:20] ducdhm commented on #109
@anhnt @bradmac @paddyow v.2.0.0-alpha is READY TO TEST. Let's check it out https://rawgit.com/Kademi/keditor/gen-2/examples/index.html

[2018-05-29 06:27] bradmac commented on #109
Just seeing this error in FF, but not in Chrome. Error occurs on clicking the Add button
![image](https://user-images.githubusercontent.com/826458/40641484-f0a66836-636d-11e8-9ce1-800a71ea7a98.png)

On this demo - https://rawgit.com/Kademi/keditor/gen-2/examples/basic_with_blank_content.html

[2018-05-29 06:29] bradmac commented on #109
Also, see this previous comment. I think this is important, I'm seeing this confirmed with all users.

Can we merge containers and components to a single list?

[2018-05-29 06:31] bradmac commented on #109
And i think its important to make the add buttons partially transparent, so they dont distract from the content

[2018-05-29 06:47] ducdhm commented on #109
@bradmac

I think it can make user confused. Because:
 * If they choose components and there is no container, what will happens?
 * If they choose containers, they only see new section with cols and other add buttons. It's OK?

[2018-05-29 06:56] ducdhm commented on #109
- Add opacity for add button ✔️
 - Fix issue when adding container in Firefox ✔️

[2018-05-29 06:58] bradmac commented on #109
I think we can either:
- filter the list to only show containers when adding outside a container
- OR, allow adding components in any position, if being added at top level wrap it in a single col container

I think the second option would be most intuitive for users, they often dont understand containers initially

[2018-05-29 07:37] remcovog commented on #109
Gen2 looks a bit like sirtrevor JS approuch. When you populate the layout with column blocks, it gets a bit messy / confusing with all the + buttons on the screen, and becomes less wygiwys...  Personally I loved the simple style with the right toolbar, always everything on screen, no popups blocking the page etc.

Small suggestion for improvement. When a component has configurabele options, load t

[2018-05-29 07:43] bradmac commented on #109
:+1:

Regarding the add button approach vs drag/drop from right panel, our feedback from users has been unequivocal, that placing items with drag and drop is a massive pain, especially since keditor got sub-containers. Also the right panel layout is fine for a small number of components, but when there are many (eg 50 or more) users need screen real estate to find them.

The new layout looks very

[2018-05-29 08:38] remcovog commented on #109
Toggle the visiblity of the buttons enabled by touch-device or not, sounds like a good solution, creating the best workflow for both worlds. If the button onhover will be showed, you must prevent the jumping effect of the page when hovering over multiple components/layouts. But this might be a great approuch adding the functionality, and keep the workspace clean.

[2018-05-29 09:55] reshiin commented on #115
also in google map

[2018-05-29 10:04] ducdhm commented on #109
@bradmac we have 2 cases for add button
 * In content area and container, we can add container/sub-container and component
 * In sub-container, we can add only component

If we unify just a button for adding, when click add button in sub-container, users can see only component snippets, but they can see both component and container snippets when click add button in content area and container. It's

[2018-05-29 10:13] bradmac commented on #109
Good UX is that the user can see what they're able to do. In whatever context they click the Add button they should see a single list containing all the things they can add.

[2018-05-31 02:07] ducdhm commented on #109
@bradmac I researched and analyst a lot of other content builder or web builder, so I can recommend other idea for keditor.
 * For each content area, I'll put a button at bottom with icon and text "Add container" (layout or section or ....)
 * In side container, just a button at bottom, click on this button, we can add either sub-container or component. Containers are showed above and component ar

[2018-05-31 02:16] bradmac commented on #109
I actually had a new user tell me today they were using the EDM editor (original keditor) and couldnt figure out why they couldnt add a component to the screen. I explained they needed to add a container first.

That was a developer, so this really confirms to me that users initially dont understand the difference between containers and components. So just an add button which shows a filtered list

[2018-05-31 19:56] sepehr09 opened #117 "need help export JSON"
hi
i need to export every element on page (containers + components) and settings (example: photo setting) into the Json Array .
how i can do that? any idea?
regards.

[2018-06-02 20:13] sepehr09 opened #118 "iframe mode not work"
hi
the iframe mode is not working for me
is there is a example?

console give me this error:
`Cannot read property 'document' of null`
in
`var iframeDoc = self.iframeDoc = iframe.contents();
`

[2018-06-02 20:34] #118 closed

[2018-06-17 20:54] ivantowers opened #120 "snippet with combined components"
Hello all,

I'm trying to replace the components that come with image and text, but, I want the image not to be modified with ckeditor, but instead be really the image component.

I created a snippet with image component then under that snippet i add a text component, text is show, but cant edit text.

Then try to create a container and add the code for the components, but also dont work.

I dont

[2018-06-24 09:47] ducdhm commented on #109
@bradmac Everything is done! You can check latest code in action at [here](https://rawgit.com/Kademi/keditor/gen-2/examples/)

[2018-06-24 22:11] bradmac commented on #109
:+1:

[2018-06-25 02:53] ducdhm commented on #109
@bradmac Do you need me to integrate new version to Kademi?

[2018-07-01 21:55] bradmac opened #121 "Gen2 - plus buttons should not affect layout"
Currently the G2 editor shows plus buttons where content can be added, which is great.

But the problem is that these buttons insert space in the content, so the editor doesnt show the page as it will actually look.

Instead, the plus buttons should be sitting above the content, ideally half over the first container and half over the second

Current layout:
![image](https://user-images.githubuserc

[2018-07-01 22:04] stephen-fueldesign commented on #121
Here's an example from Duda's content editor to help further reinforce Brad's comment:

![ss-1](https://user-images.githubusercontent.com/39784677/42139284-ff104a00-7dde-11e8-9b8a-cbb543d12941.png)

![ss-2](https://user-images.githubusercontent.com/39784677/42139285-ff39f418-7dde-11e8-91e0-1d95ffd2fa8a.png)

![ss-3](https://user-images.githubusercontent.com/39784677/42139286-ff629508-7dde-11e8-83e

[2018-07-01 22:11] bradmac commented on #121
![image](https://user-images.githubusercontent.com/826458/42139364-47f99806-7de0-11e8-84ee-78ec3097eaf4.png)

[2018-07-02 23:06] stephen-fueldesign opened #122 "Ability to adjust containers, eg width or number of columns"
Quite often I find that while constructing a page I don't often get the correct column count or column break points correct the first time round.

So far I have not found an easy way to adjust the number of columns or the sizes (breakpoints) other than recreating columns under the current column and moving components from the old section into the new section.

Below are some screenshots showing ho

[2018-07-03 00:04] bradmac commented on #122
:+1:  definitely a nice to have, but as long as its changing cols based on the 12 col grid system and not setting widths directly in pixels or percentage.

Also would be nice to allow cols to be split, eg so a 2 col container can be made into a 3 col container.

[2018-07-10 02:10] lstandish commented on #109
Great project!
I like "explicit snippets" best.  I think it makes the page building process clearer even to complete novices. "Implicit snippets" shows both containers and components together and, I think, encourages confusion in the mind of the novice.  That is, it hides the nature of containers and components and delays understanding..

[2018-07-11 02:39] ducdhm commented on #120
@ivantowers You can create a snippet with `type` is `container`. In this container, you can add `image` component for your image and `text` component for your text. Example:

[code]

[2018-07-11 03:57] stephen-fueldesign commented on #122
What would make sense to me, and other users would be if you have two cols, (6-6) and you split the 2nd col, you should get (6-3-3).

Which means:
12 => 6-6
10 => 5-5
8 => 4-4
6 => 3-3
4 => 2-2
2 => 1-1

Odds could be handle this way:
11 => 6-5
9 => 5-4
7 => 4-3
5 => 3-2
3 => 2-1

That would make sense. Anything else, you have access to the HTML to fine tune.

[2018-07-11 05:55] ducdhm commented on #122
@stephen-fueldesign So how about the case when 6-5-1 and I add a col at last?

[2018-07-11 20:12] stephen-fueldesign commented on #122
@ducdhm I would say in the scenario 6-5-1, cols 6 and 5 can be split, but not 1. And in the original post my request was to have all columns adjustable with a hover-drag-and-hold-slider in a way that 6-5-1 becomes 4-4-1, or 6-4-2 (all keeping within 12 grid column).

Adding columns is achieved by splitting an existing column that is "splittable".

[2018-07-12 22:42] stephen-fueldesign opened #123 "Gen2: Container column breakpoint controlls"
An awesome enhancement to Gen2 would be to have the ability to set and adjust container columns per breakpoints: Small, Medium, Large.

Bootstrap 3 has col-xs col-sm col-md col-lg (and bootstrap 4 has a 5th, col-xl).

The default view could be Large, and all default container settings could be col-lg.
Large screens - 4 column:
[code]

A selection mechanism (Small, Medium, Large) should turn the wh

[2018-07-12 23:01] bradmac commented on #123
:+1:

Awesome, this would solve a key problem which is the ability to control column layout for different breakpoints. Eg often we want col-lg-3 for a 4 col layout on desktop, but we want col-md-6 for smaller screens. Currently the user has to edit the html to do that.

[2018-07-12 23:48] stephen-fueldesign commented on #123
Here are some screenshots from Duda, showing the interface in Small / Medium / Large modes.

**Small**
![small](https://user-images.githubusercontent.com/39784677/42665119-3db2fe04-8692-11e8-99ca-4843031941f8.png)

**Medium**
![medium](https://user-images.githubusercontent.com/39784677/42665125-44b4a766-8692-11e8-84b7-f2e7e3cb6239.png)

**Large (default, whatever size your screen is)**
![large](ht

[2018-07-19 11:31] markyl0ts opened #124 "k-editor gen2 "onContentChanged" bug"
Im trying to use K-Editor event onContentChange which is defined:
` * @option {Function} onContentChanged Callback will be called when content is changed. Includes add, delete, duplicate container or component. Or content of a component is changed`

[code]

onContentChange event only fires when i edited the content inside the component and delete component but wont work when I add container and co

[2018-07-19 11:44] markyl0ts commented on #124
I was able to execute my goal by using this.

![image](https://user-images.githubusercontent.com/20597722/42940448-1334ec7e-8b8c-11e8-90b0-d89eb63a1516.png)

[2018-07-19 21:10] sepehr09 commented on #117
i made some changes in keditor master file & now i can export Json format.

[2018-07-19 21:10] #117 closed

[2018-07-20 20:50] bradmac commented on #123
@remcovog thanks! @ducdhm what do you think?

[2018-07-26 10:36] fusionconsulting opened #125 "Dynamic content attributes"
Really like this component, just a question regarding the dynamic attributes:

It says the attributes will be converted to camel case but it seems they are not, for example I have:

[code]
This should result in the URL being:

/planner/content?plannerType=week

But what I'm seeing is:

/planner/content?data-planner-type=week

Is there something else I need to do to process the attributes?

Also, i

[2018-07-26 21:30] bradmac commented on #125
Sorry, that must be a mistake in the docs. In our implementation the attributes are converted to camel case in server side processing (ie template rendering) but thats outside of keditor's scope.

The ajax requests send the data param in its orginal form, as you saw.

The settings panel is completely controlled by the component controller js. So you can reload the panel as long as your js handlers

[2018-07-26 21:36] bradmac commented on #125
BTW, here's an example..
Component template
https://github.com/Kademi/kademi-dev/blob/master/src/main/marketplace/libs/rewardstore-lib/common/theme/apps/rewardstore/productListComponent.html

Settings controller js
https://github.com/Kademi/kademi-dev/blob/master/src/main/marketplace/libs/rewardstore-lib/common/theme/apps/rewardstore/productListComponent.js

Settings panel:
https://github.com/Kade

[2018-07-27 08:33] fusionconsulting commented on #125
Hi, thanks for the clarification. The docs show the attributes being converted to camel case here:

https://github.com/Kademi/keditor#dynamic-content

Thanks for the links, I think initDynamicContent is what I've been looking for!

[2018-08-15 13:00] majaode opened #126 "KEditor generateId return duplicate, lead to the incorrect getContent return"
Check the attachment for id:  keditor-component-1534327516325

![screen shot 2018-08-15 at 19 48 02](https://user-images.githubusercontent.com/4292994/44149305-d644059e-a0c5-11e8-833d-c7dfa1da17dd.jpg)

Possible solution:
[code]

[2018-08-22 01:48] joelatfuel opened #127 "Spelling error in delete this component alert"
The alert when you delete a component contains a spelling error. It says "This action can not be undo!". But it should say, "This action cannot be undone!".

<img width="478" alt="screen shot 2018-08-22 at 1 20 08 pm" src="https://user-images.githubusercontent.com/41346338/44438051-7d33c600-a611-11e8-9e0d-4e212f47cb95.png">

[2018-08-22 01:57] bradmac commented on #127
:+1:

[2018-08-22 08:46] psasburg commented on #69
#126 Fixed it for me

[2018-08-30 13:13] sureshsp opened #128 "Please js,php code for export developed page"
Thanks for keditor,Please help me for js,php code to export developed page.

[2018-09-23 19:06] lstandish commented on #98
At some point the "View source" button in the examples has been broken.  It shows only the original editor content loaded from the html file.  It does not reflect the content of the editor after changes/additions have been made.  This is true for the head of both the master branch and the gen-2 branch.

[2018-09-23 20:07] bradmac commented on #98
Thanks for the heads up, will take a look over the next couple of weeks.

[2018-09-24 00:58] lstandish commented on #98
Hi Brad, I fixed the problem and made a pull request.  I think my fix is complete and clean and can be committed.

In sum, the code that grabbed the content area was in the wrong place.  It was in the modal setup code which is only executed once, on page load.  Therefore it loaded only the html on the page, not the editor content.  To fix this I moved the code to the click function.

I also had to

[2018-09-24 01:17] bradmac commented on #98
@ducdhm could you take a look?

[2018-10-02 08:39] TheWhykiki opened #130 "Cannot read property 'draggable' of undefined"
Hello,

I try to implement the Pagebuilder in my page and want to save the results in a new textarea.
Everything is working fine, but when I try to set KEditors Content via $('.keditor-content-area').keditor('setContent',currentContent) I get the following error:

"Uncaught TypeError: Cannot read property 'draggable' of undefined"

![image](https://user-images.githubusercontent.com/12602174/463380

[2018-10-02 10:54] TheWhykiki commented on #130
Lines 1794 - 1797 are causing the error, if I comment them out its working....

        if (options.nestedContainerEnabled) {
            self.containerSnippets.draggable('option', 'connectToSortable', self.getConnectedForContainerSnippets());
        }
        self.componentSnippets.draggable('option', 'connectToSortable', body.find('.keditor-container-content'));

It seems draggable stays undefi

[2018-10-04 01:30] stephen-fueldesign opened #131 "Asset Manager, failing to save an asset name correctly."
sorry, wrong project

[2018-10-04 01:32] #131 closed

[2018-10-04 14:56] taroongunessee opened #132 "add snippets at runtime"
This is a fantastic plugin.  I have a form where the user attaches a file; sends it to the server using AJAX and on successful response, I have to provide the uploaded file as a draggable snippet after the plugin has been initialized.  How can I achieve this?
Thanks a lot

[2018-10-18 02:47] stephen-fueldesign opened #133 "kcom2 - ability to customise default searchResult to control the default order of products."
Example, Farmgard would like to order their products by position.
Another client may want by price, or alphabetically, etc.

I do like the default method as it stands; however so far all our clients are asking for more control determining the order of products.

[2018-10-18 02:48] #133 closed

[2018-10-23 07:28] #127 closed

[2018-10-23 07:32] #125 closed

[2018-10-23 07:32] #120 closed

[2018-10-23 07:34] ducdhm commented on #126
@majaode Thanks for your recommendation. I have other solution for it with lesser resource

[code]

[2018-10-23 07:34] #126 closed

[2018-10-23 07:37] ducdhm commented on #130
@TheWhykiki which version of KEditor are you using?

[2018-10-23 07:39] #111 closed

[2018-10-23 07:42] TheWhykiki commented on #130
Hey I'm using Version 1.1.6

I built a simple Joomla Pagebuilkder from your script and added slider features and so on. Very nice tool you made.
But it took me days to implement a slider as a container :-)

[2018-10-23 07:45] ducdhm commented on #130
@TheWhykiki Thanks for using KEditor. I want to know more details about your issue. So can you give me the configuration of your KEditor?

[2018-10-23 07:50] ducdhm commented on #124
Fixed!

[2018-10-23 07:50] #124 closed

[2018-10-23 08:33] ducdhm commented on #98
I have checked and seem like it doesn't look like `View source` feature. The main functionality of this button is view original source code of current example. For getting current content, I can add other button for it. So I'll revert the pull request

[2018-10-23 08:49] ducdhm commented on #98
Done!

[2018-10-23 08:49] #98 closed

[2018-10-23 08:53] ducdhm commented on #115
@anhnt can you help me on this? It's issue related to iframe z-index in IE11

[2018-10-23 09:01] TheWhykiki commented on #130
I attached the two files I modified for my use....I hope this is what you need?!
M;aybe, if you are interested I can make a repository for my "pagebuilder" based on your KEditor and add you if possible.
So you can see the complete project...

I try to build a Pagebuilder who integrates in Joomla without touching the core.

[2018-10-23 10:35] ducdhm commented on #130
@TheWhykiki maybe you missed the attachment? I dont see any attachments yet :)

[2018-10-23 11:09] TheWhykiki commented on #130
Sorry Mister, I didn't see that js Files as attachement are not allowed. I made a rep from my files...

https://github.com/TheWhykiki/WhykikiPagebuilder/blob/master/plugins/system/whykikipagebuilder/assets/plugins/keditor.js

https://github.com/TheWhykiki/WhykikiPagebuilder/blob/master/plugins/system/whykikipagebuilder/assets/plugins/keditor-components.js

[2018-10-23 14:05] lstandish commented on #98
Hi ducdhm, I'm glad to see you're back to work on this project!

I don't understand. From ducdhm's comment, it appears that my pull request was reverted. (That means applied and then undone, right?) However, when I compare my forked gen-2 branch with the current Kademi gen-2 branch, I see no differences. Did you change your mind about reverting the pull request? Or have you just not done the rever

[2018-10-24 02:33] ducdhm commented on #130
Hi @TheWhykiki, seem like you over-write code directly in source of KEditor. I thought you'll use keditor with PageBuilder is wrapper. In this case, can you check origin KEditor code first? If it has `Cannot read property 'draggable' of undefined` issue, please show me step by step to reproduct. If it doesnt, seem like your customize is wrong.

/Duc

[2018-10-26 00:08] ccwalkerjm commented on #102
Finally found the problem.   This was caused by using e.preventDefault in the onContentChanged function.  ..So I was really at fault.  Sorry for just getting back.
Regards

[2018-11-02 07:14] johnbatters opened #134 "Connection with innovastudio content builder"
Hi there, I was just wondering if I could get an idea on the connection between this project and the Innovastudio content builder (https://innovastudio.com/builderdemo/example1.html). We currently have theirs installed but I like some of the features on this project and would just like to know a little about the background and why they're so similar before I switch. Thanks

[2018-11-02 08:21] johnbatters commented on #134
Hi Duc, thanks for getting back so quickly. Yes I definitely prefer what I've seen in your project, but I'm more curious about the history of the project. I'd just like to understand everything before committing to making the switch. Was it taken from the same code-base or were the similarities coincidental or was it loosely based on the same thing or...

Thanks

[2018-11-05 02:06] ducdhm commented on #134
@johnbatters You can check the commits to know the original code of KEditor. Honestly, KEditor and CB just have same sidebar style with toggle button (but in Gen 2, we remove it completely). So, KEditor and CB are different.

[2018-11-07 04:18] johnbatters commented on #134
OK cool thanks. Was just curious. Am mid way through switching right now.

[2018-11-07 22:15] lstandish commented on #98
Sorry, I was away on a road trip for 2 weeks.

The "view source" button as I modified it **does** show the content of the html textarea when the page is first loaded.  And then, as content is edited, it shows the current edited content.  I don't think an additional button to show the original html content before any edits is useful to a developer.

Anyway, the decision on what to keep and what to

[2018-11-09 04:31] papyr opened #136 "ASP MVC"
Hi can you please include some infor mation on integrating with ASP MVC or a sample

[2018-11-14 01:54] lstandish commented on #98
@ducdhm, I finally got a chance to look at your commit #98, in which you added a "Get content" button, based on my modifications to "fix" your previous "View source" button to show the current editor source code.

I now think that, since English is not your first language,  you don't have a clear understanding of what users normally expect when they see a "View source" button in an html editor.  I

[2018-11-14 02:15] ducdhm commented on #98
Hi @lstandish,

1. I got your point now. Maybe "View source" should be changed to "View config".
2. I dont reverted your pull request. You can check it at [here](https://github.com/Kademi/keditor/pull/129)
3. Your pull request is in `gen-2` branch not `master`

If you're disappointed on me, I'm really sorry. I hope you will contribute for this project in future.

/Duc

[2018-11-17 14:21] sepehr09 opened #137 "problem with jumping snippet handle"
i try my best to show the problem in the GIF below:
(gif size: 3.2 MB)

![bug](https://user-images.githubusercontent.com/11753906/48662038-22373100-ea91-11e8-89bc-c09f55ba2e5a.gif)

as you can see handle is jumping from mouse position when surfing from right container to left container!
(surf from left container to right container is ok! )

[2018-11-20 02:37] ducdhm commented on #137
Thanks @sepehr09. I'll investigate and try to resolve this issue. Not sure it's bug of jquery or css stuff or keditor stuff.

[2018-11-20 02:37] #136 closed

[2018-11-20 03:36] ducdhm commented on #137
Fixed!

[2018-11-20 03:37] ducdhm commented on #137
@sepehr09 can you test with `test.html` file inside `src` folder? Please make sure you run `gulp dev` before testing.

[2018-11-20 03:40] #134 closed

[2018-11-20 03:41] ducdhm commented on #130
Close now. Will re-open when reporter comes back.

[2018-11-20 03:41] #130 closed

[2018-11-20 07:42] sepehr09 commented on #137
thanks @ducdhm
i tested but the problem is still there:

![1](https://user-images.githubusercontent.com/11753906/48758347-fc8a7180-ecb4-11e8-8593-1e307a095c1d.gif)

this is google chrome console debug result :

**NORMAL:**
![1](https://user-images.githubusercontent.com/11753906/48757981-c1d40980-ecb3-11e8-84f7-8ecc413f073e.jpg)

**PROBLEM:** when surf from right container to left container and the

[2018-11-20 07:49] ducdhm commented on #115
Solution:
 * Default `z-index` of iframe is `-1`. A cover for iframe will be added and showed on top.
 * When double-click on cover of iframe (new element), cover will be hidden and `z-index` of iframe will be changed to `0`

New UI:
![New UI](https://user-images.githubusercontent.com/1289631/48758631-484c1380-ecd3-11e8-82d2-7a9820efa221.png)

[2018-11-20 07:49] #115 closed

[2018-11-23 09:16] papyr commented on #136
https://github.com/Alaeddinalhamoud/ckeditor-MVC

https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwi2yL2SlureAhWhVN8KHTwNDQsQFjAAegQIBxAB&url=https%3A%2F%2Fckeditor.com%2Fblog%2FCKEditor-for-ASP.NET-3.6.2-Released%2F&usg=AOvVaw0Hwg1034qTU-wgzq6aC0JC

[2018-11-24 14:14] sepehr09 commented on #136
dude!
**CKeditor** is a  WYSIWYG HTML editor!
**KEditor** is a jQuery plugin which provides a content editor with drag and drop snippets!

[2018-11-25 22:29] papyr commented on #136
can you share the jquery calls/api to save and reload snippets. I can attach to the ASP server, I went through your doc/code and could not find the correct list or sequence of steps to do so.

[2018-11-26 00:23] papyr opened #139 "OnSave to Server"
Hi, I wanted to create a seperate issue to understand and also help others in the community trying to integrate with other servers.

1. While searching through help, I saw the configuration with many onChange etc calls, however I was not able to figure which call supported the POST to the Server for the HTML created. https://github.com/Kademi/keditor#configuration.
2. What would structure of the c

[2018-11-26 03:36] ducdhm commented on #137
@sepehr09 I have tested with jQuery-UI only. Seems like it's jQuery-UI issue, not KEditor. So I'll closed this issue as `invalid`.

Btw, you can start use KEditor Gen 2 (in `gen-2` branch) with more stability, options and etc...

FYI: JSFiddle link for this issue with only jQuery-UI is [here](https://jsfiddle.net/bobkhin/14nvduam/)

[2018-11-26 03:36] #137 closed

[2018-11-26 04:09] ducdhm commented on #139
`onChange` is just a callback which will be called when content is changed. It's not good idea to save whenever content is changed. There're a ton of AJAX requests will be called when you do that.

It depends what you want. You can send html string of content or create a blob and send it to server as a file

Btw, I strongly recommend you create a button to do save stuff. You can use `$('#keditor-i

[2018-11-27 07:02] papyr commented on #139
Here is my scenario, on the left side panel, I have icons of charts, widgets, etc. I need to let user drag the icon over and pull that widget over to the page "DIV/container", on the background its really loading form the server.

You answered the loading from the server really well.

My question is how can I ensure a new unique div, everytime the icon href target everytime it drops the content fr

[2018-12-03 08:51] raku opened #140 "wysiwyg independent"
Hello,

Can you make it also compatible with summernote, tinymce or can you make it wysiwyg independent?

[2018-12-03 08:59] ducdhm commented on #140
Hi @raku,
If you take a look at [source of Text component](https://github.com/Kademi/keditor/blob/master/src/js/keditor-component-text.js), it's using CKEditor. So if you want to use summernote or tinymce, please feel free fork and edit this file. It's Open Source project 😃

[2018-12-03 09:03] raku commented on #140
I've tried with summernote, but no luck, it is getting initialized, but I can't edit the content.

[2018-12-03 09:19] ducdhm commented on #140
Hi @raku,
I think maybe you forget `contenteditable=true` attribute for the editing element 😃

/Duc

[2018-12-03 09:40] raku commented on #140
I've did this:

`(function ($) {
    var KEditor = $.keditor;
    var flog = KEditor.log;

    //CKEDITOR.disableAutoInline = true;

    // Text component
    // ---------------------------------------------------------------------
    KEditor.components['text'] = {
        options: {
            toolbarGroups: [
                {name: 'document', groups: ['mode', 'document', 'doctools']},

[2018-12-03 09:43] ducdhm commented on #140
Hi @raku,
Do you have any live example for that?

[2018-12-03 09:55] raku commented on #140
no

[2018-12-03 09:55] ducdhm commented on #140
Hi @raku,
Btw, I see in your code, when clicking in componentContent, why you need to `focus` and `destroy` summernote? I think it's not right.

/Duc

[2018-12-03 19:50] raku commented on #140
destroy was for a test, you can delete it, but the effect is same

[2018-12-07 17:53] ctbrewer opened #141 "Spelling tweak"
Lines 1507 & 1599 in keditor.js says:
Are you sure that you want to delete this container? This action can not be undo!

It should say:
Are you sure that you want to delete this container? This action can not be undone!

I love KEditor! I am so glad I stumbled on it!

[2018-12-12 09:56] luca120289 opened #142 "Django support"
Hi,
someone managed to integrate keditor in a template in django?
Is it possible to do that?

Thanks

[2018-12-18 09:18] #141 closed

[2018-12-18 09:24] ducdhm commented on #140
@raku I really need a live example on JSFiddle or JSBin or something like that to help you. Without it, I cant.

/Duc

[2018-12-18 09:27] ducdhm commented on #139
Hi @papyr, I dont really get what you want. Can you explain it step by step?

[2019-01-08 22:16] joelatfuel opened #143 "Disable Grammarly in keditor"
A client has had Grammarly enabled when editing content, then Grammarly has injected HTML in the page.

A possible fix would be to add `data-gramm="false"` to certain text areas.

[2019-01-08 22:17] bradmac commented on #143
can you give me a link to the documentation for that?

[2019-01-08 22:18] bradmac commented on #143
Is that something all users would want disable? i guess grammarly does something useful .. ?

[2019-01-08 22:24] joelatfuel commented on #143
There isn't any specific documentation on it, but there are many Stack Overflow and Github issues on it. Here's a [Github issue](https://github.com/ckeditor/ckeditor5/issues/267#issuecomment-321260762).

[2019-01-09 20:32] EadHassan commented on #109
Hello,
Where I can download [this version](https://rawgit.com/Kademi/keditor/gen-2/examples/)

[2019-01-30 08:15] dineshck opened #144 "content on extra tab is not draggable, how to make it draggable"
@ducdhm
**Content on the extra tab is not draggable, what to do make it draggable?**
[code]
I am trying to create an extra tab and make the content draggable from it,  but it is not working , please help # @ducdhm

[2019-02-10 22:23] Wewerica opened #145 "CKEditor 5 integration?"
Hello,
have anyone tried updating CKEditor from version 4.5.6 to version 5?

Cheers

[2019-02-10 22:41] bradmac commented on #145
No, but I'm keen to look into it sometime in the near future

[2019-02-10 22:42] bradmac commented on #145
@ducdhm any thoughts?

[2019-02-20 13:06] shridhar1986 opened #146 "2 Video side by side with different settings not showing up"
Hello Support,

1st of all a big thanks for this wonderful work.

Well i am trying to place 2 videos side by side and trying to have different settings for each one.
But setting panel is showing the very last setting for both the videos.

Also if we are uploading 2 videos than it is not uploading the 2nd video.

Please help me on this.

[2019-02-21 14:15] Wewerica opened #147 "Load page content after edit"
I've been trying to edit content thats been saved to database.
I used setContent in onReady function in keditor, after page is loaded to keditor I cannot edit loaded page but can add new content.

Does anyone know what to do? :(

[2019-02-21 14:22] #147 closed

[2019-04-05 04:55] mlandmann commented on #140
What file did you  make the toolbar modification in?  I can't seem to get my changes to take.  I want to radically change the toolbars and integrate in cffinder.  Has anyone done that?

[2019-04-05 05:57] mlandmann commented on #140
The toolbar icons are all on one line.  If you want a large set of ICONS, a horizontal scroll is needed. How do you configure the toolbar icons to be on multiple lines?

[2019-05-07 05:43] #140 closed

[2019-05-07 05:43] ducdhm commented on #140
@mlandmann It's just CSS stuff. You can inspect CKEditor elements and find out why it's not in multi-lines.

/Duc

[2019-05-07 05:43] #139 closed

[2019-05-07 05:45] ducdhm commented on #143
@joelatfuel I think you can add `data-gramm=false` in `onRead` event of KEditor and add it in anywhere you want.

[2019-05-07 05:45] #143 closed

[2019-05-07 05:46] ducdhm commented on #143
[code]

[2019-05-14 02:04] ducdhm commented on #145
New UI:
![newUI](https://user-images.githubusercontent.com/1289631/57665718-38c8da00-7627-11e9-8639-af82bd2cf96c.png)

[2019-05-14 02:04] #145 closed

[2019-05-14 02:04] #142 closed

[2019-05-14 02:05] ducdhm commented on #109
Done!

[2019-05-14 02:05] #109 closed

[2019-05-14 02:21] ducdhm commented on #144
@dineshck KEditor provides extra tab just for static content, or setting form, etc... If you want to drag n drop, you need to do it by yourself via using draggable of jQuery UI.

[2019-05-14 02:21] #144 closed

[2019-05-14 03:03] #146 closed

[2019-05-14 03:06] #99 closed

[2019-05-15 07:07] ErMandeep opened #150 "How to console this $('#content-area').keditor('getContent'); whenever i add new item or remove to page ??"
<script type="text/javascript">
    $(document).ready(function(){
        $("button").click(function(){
var fileContent = $('#content-area').keditor('getContent');
            $.ajax({
                type: 'POST',
                url: 'basic_with_content.php',
                data: {
                body: fileContent
                       },
            dataType: 'json',
                success:

[2019-05-16 20:44] Ricco-S opened #151 "Source Code Edit"
Add a Button to edit Source Code
Is it possible?

[2019-05-17 09:01] ducdhm commented on #132
[code]

[2019-05-17 09:01] #132 closed

[2019-05-17 09:02] ducdhm commented on #151
@Ricco-S What do you mean? Can you explain more? I didnt get your idea

[2019-05-17 09:04] ducdhm commented on #150
@ErMandeep Can you explain me more what your case is?

[2019-05-17 09:11] #121 closed

[2019-05-22 09:50] ErMandeep opened #152 "How can i add new button to toolbar , for change the backgound color of div?"
How can i add new button to toolbar , for change the background color of div?

[2019-05-31 00:21] RezaErfani67 opened #153 "image upload response as blob"
i save my uploaded files in shared folder...
the problem is here that chrome browser not allowed to load file from unc path...(because security reasons)...
what do you suggest for me?
can i should get it as blob and then show my uploaded image?

[2019-06-10 03:41] #150 closed

[2019-06-10 03:41] #151 closed

[2019-06-10 03:43] ducdhm commented on #152
@ErMandeep You can check [this example](http://kademi.github.io/keditor/examples/settings_for_container.html) for enable settings for container.

[2019-06-10 04:00] ducdhm commented on #153
Hi @RezaErfani67, you need a host/server to upload/get image. If you want test your file in local, you can follow [this guide](https://cmatskas.com/interacting-with-local-data-files-using-chrome/) to enable access local file for Chrome.

/Duc

[2019-06-10 04:02] #153 closed

[2019-06-12 10:33] ducdhm commented on #112
New UI:
![Clipboard - June 12, 2019 5_02 PM](https://user-images.githubusercontent.com/1289631/59344354-1f0ad780-8d38-11e9-9f6c-45e8cd44561c.png)

New options:
![Clipboard - June 12, 2019 5_04 PM](https://user-images.githubusercontent.com/1289631/59344358-2336f500-8d38-11e9-92c4-5a8fa4273d00.png)

**Note**: `iframeMode` is removed because we need iframe to change device width.

[2019-06-12 10:33] #112 closed

[2019-06-12 16:08] ducdhm opened #154 "Gen 2: Support custom sidebar"
Sometimes, I want sidebar to show some extra settings.

[2019-06-12 16:09] ducdhm opened #155 "Gen 2: Make add button visible when hovering via container or component"

[2019-06-12 16:09] ducdhm opened #156 "Gen 2: Preview feature"
View on mobile, tablet and desktop should be available event when Preview mode is enabled

[2019-06-12 16:11] ducdhm opened #157 "Gen 2: Make snippet modal more elegant!"
* Remove `snippetsFilterEnabled` option. Filter and search are always available
 * Remove "Close" and "Add" button
 * Click on snippet image to add
 * Add title under image preview
 * Remove header of modal
 * Improve performance of snippet search

[2019-06-12 16:13] ducdhm opened #158 "Gen 2: Cut/copy/paste feature"
* Merge duplicate feature to cut/copy/paste feature
 * Cut and copy buttons are available for component and container toolbar
 * Paste button is available only when cut or copy is activated

[2019-06-12 16:15] ducdhm opened #159 "Gen 2: Move up/down button for component and container"

[2019-06-12 16:27] ducdhm opened #160 "Gen 2: Support title in topbar"
I want to show title in left of topbar. It's so helpful for users to know the purpose of editor

[2019-06-12 16:29] ducdhm opened #161 "Gen 2: Save button?!?"
* Add "Save" button in right of topbar.
 * `onSave` callback will be added in options list. Argument: `content` - the current content of KEditor

[2019-06-12 20:11] bradmac commented on #155
hey @ducdhm something which might be worth considering, is that currently the add buttons only allow adding at the end of each container. If i want to add a component to the middle of several components i need to add it to the end and then move it.

This is necessary in the current UI because otherwise the page would be too messy

But if we show add buttons on hover, then it might be reasonable to

[2019-06-13 02:19] ducdhm commented on #160
New option:
![new option](https://user-images.githubusercontent.com/1289631/59398933-43a89300-8dbc-11e9-94f2-026da390ecd7.png)

New UI:
![new UI](https://user-images.githubusercontent.com/1289631/59398942-499e7400-8dbc-11e9-96bb-4a1915b1a1e7.png)

[2019-06-13 02:19] #160 closed

[2019-06-13 02:29] anhnt commented on #154
This has been done inside kademi. will push

[2019-06-13 02:37] ducdhm commented on #154
@anhnt There were many changes in KEditor since we forked to Kademi. So I suggest I'll do it by check the diff in commits of Kademi

[2019-06-13 03:07] ducdhm commented on #161
New option:
![new option](https://user-images.githubusercontent.com/1289631/59400829-f5e35900-8dc2-11e9-9bf8-64704613ab8c.png)

New UI:
![new UI](https://user-images.githubusercontent.com/1289631/59400837-f8de4980-8dc2-11e9-886a-0ebb701755df.png)

[2019-06-13 03:07] #161 closed

[2019-06-13 03:53] ducdhm commented on #156
New UI:
 * When preview is OFF:
![new UI](https://user-images.githubusercontent.com/1289631/59402626-71480900-8dc9-11e9-9d2d-52b4f965446e.png)

 * When preview is ON:
![new UI 2](https://user-images.githubusercontent.com/1289631/59402632-76a55380-8dc9-11e9-9e04-4f841295a6ea.png)

[2019-06-13 03:53] #156 closed

[2019-06-15 08:36] #152 closed

[2019-06-15 10:11] ducdhm commented on #154
New option:
![new option](https://user-images.githubusercontent.com/1289631/59550067-9044c780-8f90-11e9-9e80-4cd6df7c0b18.png)

UI Example:
![new UI](https://user-images.githubusercontent.com/1289631/59550069-98046c00-8f90-11e9-8b16-6da039c6829c.png)

[2019-06-15 10:12] #154 closed

[2019-06-16 19:31] DJ1TJOO opened #162 "$("#conent-area").keditor('setcontent', content); returns that the content area does not exsist but it does"
$("#conent-area").keditor('setcontent', content); returns that the content area does not exsist but it does. Have I done something wrong?

[2019-06-17 11:57] DJ1TJOO commented on #162
When I use this:  $('#content-area').keditor('setContent', '<?php if(isset($content)){echo $content;} ?>', $('#content-area')); It doesn't return an error and leaves blankscreen (php is from mysql database)

[2019-06-18 14:35] mehboobscore opened #163 "Images not showing after adding snippet"
Whenever i tried to add the built in snippet with images i found that images are not loading i have hosted the demo at my local IIS windows 10. Any suggestions for me.

[2019-06-18 14:58] ducdhm commented on #163
@mehboobscore can you give me the screenshot of Network tab in your browser?

[2019-06-18 15:04] ducdhm commented on #162
Hi @DJ1TJOO, let me explain you the structure of keditor:

[code]

The second param should be content-area which you want to set content not the element which you initialize as keditor instance. In your example, the keditor element has `#content-area` id. It's is `keditor` in structure, not `content-area`

[2019-06-18 15:17] mehboobscore commented on #163
![Screenshot_12](https://user-images.githubusercontent.com/46346908/59696774-174ea580-9206-11e9-9087-98c3327f34b3.png)

[2019-06-18 15:39] DJ1TJOO commented on #162
Thanks a lot @ducdhm. I assigned the keditor on to my content-area I've changed it now to another div.

[2019-06-18 15:39] #162 closed

[2019-06-18 16:02] ducdhm commented on #163
@mehboobscore I mean all. I want to know why the image is not loaded. Not only for JS. Thanks.

[2019-06-18 16:17] mehboobscore commented on #163
This image have all of the loaded network detail. Images are loading in network but not showing at page you can see in the image.
![Screenshot_13](https://user-images.githubusercontent.com/46346908/59701079-33eedb80-920e-11e9-84bb-6fdcbd3b5ad9.png)
![Screenshot_14](https://user-images.githubusercontent.com/46346908/59701169-6ac4f180-920e-11e9-955e-4a63d4b2299a.png)
![Screenshot_15](https://user-im

[2019-06-18 16:24] ducdhm commented on #163
@mehboobscore Thanks for your information. I have checked and seem like it related to CKEditor 5. It removes all image, div with class. Let me fix it.

[2019-06-18 16:26] mehboobscore commented on #163
@ducdhm Thanks for help i will wait for your confirmation.

[2019-06-19 07:32] ducdhm opened #164 "Revert to CKEditor 4"
After upgrading from `CKEditor 4` to `CKEditor 5` in a few months ago, some of `compontent-text` snippets for do not work as expected. The reason is `CKEditor 5` stripped all `class`, `id` and inline styles (more details at [here](https://github.com/ckeditor/ckeditor5/issues/592), [there](https://github.com/ckeditor/ckeditor5/issues/1178) and [over there](https://ckeditor.com/docs/ckeditor5/latest

[2019-06-19 07:34] ducdhm commented on #163
Let's move to [this issue](https://github.com/Kademi/keditor/issues/164). I found the root cause for it.

[2019-06-19 07:34] #163 closed

[2019-06-19 08:10] mehboobscore commented on #164
Sure what i need to do let me know.

[2019-06-19 08:36] ducdhm commented on #164
Works perfectly. Example: http://kademi.github.io/keditor/examples/basic_with_content.html

[2019-06-19 08:36] #164 closed

[2019-06-19 08:42] Stiropor commented on #164
Hmm, aren't there `allowedContent`, `disallowedContent` and other settings in CK5 also, which would prevent stripping and removing attributes?

[2019-06-19 08:43] ducdhm commented on #164
@Stiropor sorry but... no. CKEditor 5 is a diffrent thing. No `allowedContent` or `disallowedContent`. You need to implement your own plugin to handle all other things which are not included in standard plugins of Version 5 :(

[2019-06-19 08:49] Stiropor commented on #164
@ducdhm Didn't know that, I did noticed it's a mess to upgrade with lots of things missing, I guess it's all about collaboration :( Thanks for reply and keep up the good work!

[2019-06-19 09:59] ducdhm commented on #157
New UI:
![new UI](https://user-images.githubusercontent.com/1289631/59755769-b5984500-92b2-11e9-9097-b1b327fa58a6.png)

[2019-06-19 09:59] mehboobscore commented on #164
I am facing this issue now please have a look on it:
![Screenshot_17](https://user-images.githubusercontent.com/46346908/59756252-cb9e0980-92a2-11e9-8c78-9876a18ee27f.png)

Thanks

[2019-06-19 10:02] ducdhm commented on #164
@mehboobscore if you're working on current branch, it's under-structuring branch so sometimes the code is broken. Please check [releases](https://github.com/Kademi/keditor/releases) for stable version.

Btw, I have pushed the fix, you can check it now.

[2019-06-19 10:03] mehboobscore commented on #164
@ducdhm Thanks

[2019-06-20 03:22] ducdhm opened #165 "Gen 2: Fullscreen mode"

[2019-06-20 03:37] ducdhm commented on #165
New UI:
![new UI](https://user-images.githubusercontent.com/1289631/59816698-4fa9cd00-9347-11e9-968e-86a7b22d1015.png)

[2019-06-20 03:37] #165 closed

[2019-06-20 06:06] #157 closed

[2019-06-20 08:00] ducdhm opened #166 "Gen 2: Support locale"

[2019-06-20 08:12] ducdhm commented on #166
New options:
![image](https://user-images.githubusercontent.com/1289631/59832304-bfcb4980-936d-11e9-8d9c-ad518d2632cc.png)

[2019-06-20 08:12] #166 closed

[2019-06-20 16:29] ducdhm commented on #159
New UI:
![image](https://user-images.githubusercontent.com/1289631/59865457-3fc7d280-93b3-11e9-9004-ab76d12c2ea1.png)

[2019-06-20 16:30] #159 closed

[2019-06-24 04:32] ducdhm opened #167 "Gen 2: Remove "explicitSnippetEnabled" option"
To simple UI/UX for users, decided to remove away `explicitSnippetEnabled` option. No more concept "component" and "container" for **Users**

[2019-06-24 05:04] srikanthmovva opened #168 "Form settings is replaced by container settings in the Example."
in the example "Enable settings for container", form settings are replaced by container settings. And also when we add one form, two forms are added instead.

http://kademi.github.io/keditor/examples/settings_for_container.html

[2019-06-24 05:17] #167 closed

[2019-06-25 05:45] srikanthmovva opened #169 "add carousel"
i need to add more components like carousel, navbar etc. could you please let me know how to edit the code and add new components.
Thank you!

[2019-06-25 05:47] srikanthmovva opened #170 "Edit or add new form builder"
I need to know how to edit the settings of an element in the form (lets say button settings).
Thank you

[2019-06-26 02:50] ducdhm commented on #169
@srikanthmovva We already have guideline in homepage of keditor
 * Firstly, you need add more snippets. Please read at [here](https://github.com/Kademi/keditor#customize-snippet)
 * Secondly, you need add JS stuff for your snippets. Please read at [here](https://github.com/Kademi/keditor#customize-component-type)

[2019-06-26 03:00] ducdhm commented on #170
@srikanthmovva You can follow [this guide](https://github.com/Kademi/keditor#customize-component-type) for customize component. You can edit source code of existing components at [here](https://github.com/Kademi/keditor/tree/master/src/components)

[2019-06-26 10:00] cmohanraj10 opened #171 "iframeMode false option not working"
`$('#content-area').keditor({
	iframeMode: false
});`

I am using the above code for initializing the editor without iframe. Editor initialized but its within the iframe. Any Idea?

[2019-06-26 10:13] ducdhm commented on #168
@srikanthmovva: Fixed!

[2019-06-26 10:13] #168 closed

[2019-06-26 10:16] ducdhm commented on #171
@cmohanraj10 Which version of KEditor are you using? If you're using version 2 (in master branch), it always use iframe. The reason: iframe is required for [this feature](https://github.com/Kademi/keditor/issues/156)

[2019-06-26 16:26] ducdhm commented on #155
New UI:
![image](https://user-images.githubusercontent.com/1289631/60197514-b9efcf80-9869-11e9-9734-76807aae2e48.png)

Rules:
1. Add button for content-area is always visible
2. Add button for container-content is visible when container-content is empty
3. Add button after component or sub-container is visible when hovering

[2019-06-26 16:26] #155 closed

[2019-06-26 16:43] ducdhm opened #172 "Better docs for KEditor"
List of docs:
 * Getting started
 * Configuration list
 * Methods
 * Custom snippets
 * Custom component
 * Dynamic content component
 * How to contribute component list

[2019-06-27 04:55] srikanthmovva opened #173 "bug in Form component"
http://kademi.github.io/keditor/examples/settings_for_container.html

in the "settings for container" example, im trying to add a form but it is adding 2 forms at same time( as a single component)

[2019-06-27 06:33] srikanthmovva opened #174 "settings for container not working"
when a color is entered it is throwing an error.

settings_for_container.html:84 Uncaught TypeError: Cannot read property 'find' of null
    at HTMLInputElement.<anonymous> (settings_for_container.html:84)
    at HTMLInputElement.dispatch (jquery-1.11.3.min.js:4)
    at HTMLInputElement.r.handle (jquery-1.11.3.min.js:4)

[2019-06-27 06:36] ducdhm commented on #173
@srikanthmovva can you give me more details? Which browser are you using?

[2019-06-27 06:40] srikanthmovva commented on #173
ok. go to "settings for container" example and add a form. you will understand what i meant- multiple forms are added when we try to add only just one form. and if i add a button in the form, edit, delete copy buttons are not working

[2019-06-27 07:11] ducdhm commented on #174
Done!

[2019-06-27 07:11] #174 closed

[2019-06-27 08:36] ducdhm commented on #173
@srikanthmovva I can see edit, delete or copy buttons are not working but I still see only 1 form added. Can you give me screenshot?

[2019-06-27 08:40] srikanthmovva commented on #173
![keditorformbug](https://user-images.githubusercontent.com/41923272/60251010-5b683700-98e5-11e9-9139-34a99eaa5f9b.PNG)

[2019-06-27 08:41] srikanthmovva commented on #173
@ducdhm take a look at the screenshot and i think in all the examples it is the same.

[2019-06-27 09:44] srikanthmovva opened #175 "Text Editor in subcontainer"
i tried adding text in a subcontainer and edit it. but the text editor is somewhere down.
![image](https://user-images.githubusercontent.com/41923272/60255942-493ec680-98ee-11e9-8d3c-490153cda64d.png)

[2019-06-27 09:46] srikanthmovva commented on #175
add a image and after that add some text in a container down to it (container/subcontainer)

[2019-07-01 06:21] srikanthmovva commented on #173
this 2 forms error is raised only when it is added directly with out a container. if you add a container first and then add the form builder component then it is adding single form.
but however the edit,copy,delete buttons are throwing jquery errors in the console.

[2019-07-01 10:57] ducdhm commented on #173
@srikanthmovva The issue here is formBuilder is initializing inside iframe. I'm changing the way to edit form.

[2019-07-01 11:01] ducdhm commented on #173
New UI:
1. Design button
![newUI1](https://user-images.githubusercontent.com/1289631/60431526-35ff6400-9c2a-11e9-8d01-51b1e30bc5f9.png)

2. Modal for designing form
![new UI2](https://user-images.githubusercontent.com/1289631/60431540-3b5cae80-9c2a-11e9-9efc-e015a54ca0ad.png)

[2019-07-01 11:01] ducdhm commented on #173
@srikanthmovva Can you check it again?

[2019-07-01 11:02] ducdhm commented on #175
@srikanthmovva Seem it's css issue when editable-content inside iframe. Let me check!

[2019-07-01 11:07] srikanthmovva commented on #173
![image](https://user-images.githubusercontent.com/41923272/60431788-3bef4800-9c1e-11e9-83cd-7646d176da43.png)
the circled one is " i added a container and then added a form". and the bottom one is " i added a form directly".
both cases are not working-but if u see when i added a form directly "No form content" is displayed twice( just as previously it is adding 2 forms nested)

[2019-07-01 11:08] ducdhm commented on #173
@srikanthmovva You added form inside new container or below new container?

[2019-07-01 11:11] srikanthmovva commented on #173
top red circled one is " form in a container"

bottom i added a form directly which gave me "No form container " twice.

[2019-07-01 11:13] srikanthmovva commented on #173
![image](https://user-images.githubusercontent.com/41923272/60432183-41995d80-9c1f-11e9-9f93-724ff8037812.png)
 in this picture i added a container and then added a form inside it.

[2019-07-01 11:15] srikanthmovva commented on #173
![image](https://user-images.githubusercontent.com/41923272/60432298-891fe980-9c1f-11e9-863f-e11ba60b50c6.png)
in this picture i added a form directly without adding any container. as you can see it is adding multiple "No form content"

[2019-07-01 11:17] srikanthmovva commented on #173
if you are not seeing the second error, refresh the page (without saving anything, so that it will give you empty page again) and add a form directly without a container.

[2019-07-01 11:19] ducdhm commented on #173
@srikanthmovva Fixed!

[2019-07-01 11:22] srikanthmovva commented on #173
i still see it the same. no change :/

[2019-07-01 11:28] ducdhm commented on #173
You need to clear cache to see the change!

[2019-07-01 11:35] srikanthmovva commented on #173
i did cleared the cache. but still not working. i also tried from another computer(just to make sure no js is saved in cache) but still didnt worked. (i used google chrome in windows and also in mac)

[2019-07-01 11:38] srikanthmovva commented on #173
it did changed something.but didnt solve the issue. because when i add a container and a form inside the container i see nothing added. when i add a form directly without a container then im seeing"no form content" once (previously multiple ).
(i checked in safari too)

[2019-07-01 11:52] srikanthmovva commented on #173
<img width="1677" alt="Screen Shot 2019-07-01 at 5 19 18 PM" src="https://user-images.githubusercontent.com/41923272/60434399-b0c58080-9c24-11e9-83ea-6565d132122b.png">
this is the latest screenshot of " adding a form inside a container"
-used safari in Mac

[2019-07-01 11:53] srikanthmovva commented on #173
<img width="1677" alt="Screen Shot 2019-07-01 at 5 19 52 PM" src="https://user-images.githubusercontent.com/41923272/60434477-d6eb2080-9c24-11e9-8300-6b09a9466518.png">
this is the latest screenshot of " adding a form directly(outside the container)"
-used safari in Mac

[2019-07-02 03:21] ducdhm commented on #173
@srikanthmovva I have pushed the fix. Hope it work well!

[2019-07-02 03:34] srikanthmovva commented on #173
@ducdhm now it it working fine. but when you build a form and click save, it is raising js error as below:
form-render.min.js:6 Uncaught TypeError: t.emptyContainer is not a function
    at t.render (form-render.min.js:6)
    at HTMLFormElement.<anonymous> (form-render.min.js:6)
    at Function.each (jquery-1.11.3.min.js:2)
    at m.fn.init.each (jquery-1.11.3.min.js:2)
    at m.fn.init.t.fn.formR

[2019-07-02 04:08] ducdhm commented on #173
@srikanthmovva The issue occurs when form is empty. I have fixed this issue as well as. Hope it's latest version for this component xD

[2019-07-02 04:16] srikanthmovva commented on #173
now it is working fine when a form is added inside a container. but if you try to add a form outside a container and edit it and click save, it is giving the same error :(

[2019-07-02 04:20] srikanthmovva commented on #173
@ducdhm sorry. issue is not with the container.
if you add a second form in the same page then it is raising the error when saving the second form

[2019-07-02 04:22] srikanthmovva commented on #173
@ducdhm try adding 2 forms in 2 different containers.

[2019-07-02 07:40] ducdhm commented on #173
@srikanthmovva Can you try again :D

[2019-07-02 08:36] srikanthmovva opened #176 "Bug in Dynamic Content Component"
snippets/_dynamic_content.html?data-website=website01&data-blog=blog01&data-article=article01&data-tags=tag01%2Ctag02:1 Failed to load resource: the server responded with a status of 404 (Not Found)

[2019-07-02 08:39] srikanthmovva commented on #173
i tried it(after clearing the cache). it is still same :/

[2019-07-02 08:54] srikanthmovva commented on #173
<img width="1677" alt="Screen Shot 2019-07-02 at 2 17 11 PM" src="https://user-images.githubusercontent.com/41923272/60498795-df029900-9cd4-11e9-851d-2d702cf1a7fe.png">
<img width="1677" alt="Screen Shot 2019-07-02 at 2 17 45 PM" src="https://user-images.githubusercontent.com/41923272/60498796-df9b2f80-9cd4-11e9-91b9-eacc782ef14c.png">
try adding forms in same container, different container, outsi

[2019-07-02 10:18] ducdhm commented on #170
@srikanthmovva you also can see FormBuilder docs for [custom element](https://formbuilder.online/docs/formBuilder/options/templates/)

[2019-07-02 10:18] #170 closed

[2019-07-02 10:32] ducdhm commented on #176
I don't why `_dynamic_content.html` is not loaded in github.io. Just changed to `dynamic_content.html` and it works

[2019-07-02 10:32] #176 closed

[2019-07-02 10:50] srikanthmovva commented on #173
@ducdhm im trying all the possible ways to add multiple forms. there are 2 possible ways to get errors.
1. if you add a form in **sub container** error is raised. (more than one for in a page)
2. if you add a form after you click **save**, error is raised.
this might help you in solving the issue :)

[2019-07-02 15:42] srikanthmovva commented on #175
@ducdhm yep. and please do check for thumbnails, articles also. it is same issue.

[2019-07-02 15:44] ducdhm commented on #175
@srikanthmovva Sure, they's using CKEditor so they have same issue.

[2019-07-02 16:43] ducdhm commented on #175
@srikanthmovva fixed!

[2019-07-02 16:56] #171 closed

[2019-07-02 18:53] srikanthmovva commented on #175
it is solved but there is a lot of "shaking" while using the ckeditor :( i can hardly use it :/

[2019-07-03 02:53] srikanthmovva commented on #175
@ducdhm
![image](https://user-images.githubusercontent.com/41923272/60559476-1a9b7280-9d6a-11e9-88b1-87744d00ef91.png)
![image](https://user-images.githubusercontent.com/41923272/60559707-f2f8da00-9d6a-11e9-86db-337bbd748487.png)
if you see both the images, when the cursor is moved inside the container, some extra space is added to it. if we place the cursor on the editor, the container is expandi

[2019-07-04 06:56] ducdhm commented on #175
New UI:
![newUI](https://user-images.githubusercontent.com/1289631/60645643-6c73f380-9e63-11e9-98ee-9bb0ca4c52b1.png)

[2019-07-04 06:56] ducdhm commented on #175
@srikanthmovva I have update UI for keditor. Please check!

[2019-07-04 06:58] srikanthmovva commented on #175
@ducdhm ok i will check and let you know. please try to fix the bug in form too if possible.
Thank you

[2019-07-04 07:08] ducdhm commented on #175
@srikanthmovva This issue for text editor. Please dont involve other issue

[2019-07-04 07:11] srikanthmovva commented on #175
@ducdhm hey everything is working fine.
but i'm not sure if it is a bug or no. i selected few words in a paragraph and tried changing it to heading1. but the whole paragraph is changed to heading1.

[2019-07-04 07:19] ducdhm commented on #175
@srikanthmovva It's CKEditor issue or stuff. Not KEditor :)

[2019-07-04 07:21] srikanthmovva commented on #175
ok cool :D

[2019-07-04 07:27] #175 closed

[2019-07-04 07:54] ducdhm commented on #173
@srikanthmovva please check again

[2019-07-04 09:25] UbaidAnwar opened #177 "SetContent() not working fine for component-audio"
When I save my page and it contains audio component it works fine for the first time but when I edit the page and save it again the audio component disappears.
Any help regarding this issue please?

[2019-07-05 02:15] ducdhm commented on #177
@UbaidAnwar so it's `getContent()` not `setContent()`, right?

[2019-07-05 04:14] UbaidAnwar commented on #177
Thanks for your reply.
Yes its setContent(), actually when I getContent() it contains a div "<div class="audio-wrapper">" and when I setContent() and do some editing and save it again then this div is missing and it issue on next edit.

[2019-07-05 23:36] manuongithub opened #178 "[BUG] can't get it to build using npm run build"
**Describe the bug**
can't get it to build using npm run build

**Version**
latest

**To Reproduce**
Steps to reproduce the behavior:
1. npm install
2. npm run build

**Expected behavior**
should not throw babel related errore

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. ch

[2019-07-06 19:17] manuongithub opened #179 "please provide build instructions"
Hi,

I'm getting syntaxerrors when I try to build using npm run build

Can you please help as I'm not able to figure out the issue from the output.

The logs are attached under:
[code]

[2019-07-06 19:34] manuongithub commented on #178
clearly not a bug as the developer is able to build and release dist versions... maybe I'm doing something wrong... closing bug and opening another request for build instructions...

[2019-07-07 02:17] manuongithub commented on #179
this piece in webpack.config.js is causing build issues as it comments out whole files which have even one line of comment in them:

{
                        loader: 'string-replace-loader',
                        options: {
                            multiple: [
                                {
                                    search: '@{version}',
                                    repla

[2019-07-07 02:32] manuongithub commented on #178
Actually, on looking into this more deeply, it seems like the string-replace-loader is causing the build to fail by commenting out the whole file which has even one line of comment in it...

I suggest we remove the following from webpack.config.js

{
                        loader: 'string-replace-loader',
                        options: {
                            multiple: [

[2019-07-07 02:32] manuongithub commented on #178
Actually, on looking into this more deeply, it seems like the string-replace-loader is causing the build to fail by commenting out the whole file which has even one line of comment in it...

I suggest we remove the following from webpack.config.js

{
                        loader: 'string-replace-loader',
                        options: {
                            multiple: [

[2019-07-07 06:51] #173 closed

[2019-07-07 06:51] ducdhm commented on #173
Fixed!

[2019-07-07 06:53] ducdhm commented on #179
@manuongithub Which version of npm are you using? I am still running `npm run build` normally.

[2019-07-07 07:03] ducdhm commented on #179
@manuongithub
JFYI:
 * `npm run build` for production mode
 * `npm rundev` for dev mode include watching and build

[2019-07-07 07:05] ducdhm commented on #179
Duplicated with https://github.com/Kademi/keditor/issues/178

[2019-07-07 07:05] #179 closed

[2019-07-07 07:06] ducdhm commented on #178
@manuongithub which version of npm are you using?

[2019-07-07 07:08] manuongithub commented on #178
npm version - 6.10.0

[2019-07-07 07:08] ducdhm commented on #178
@manuongithub how about node version?

[2019-07-07 07:08] manuongithub commented on #179
npm version - 6.10.0

[2019-07-07 07:09] manuongithub commented on #178
node version - v12.4.0

[2019-07-07 07:11] ducdhm commented on #178
@manuongithub Please replace `'\\n\\s+'` to `'\'\\n\\s+\''` and re-try

[2019-07-07 07:16] manuongithub commented on #178
this works... thanks...

[2019-07-07 07:17] ducdhm commented on #178
Btw, I'll move the stuff which you suggested.

[2019-07-07 07:17] #178 closed

[2019-07-07 07:28] manuongithub opened #180 "[Feature request] Hide the setting panel when component loses focus to a new component."
**Functionality**
When the currently selected component loses focus and a new component is selected, do the following:

1) Hide the settings panel of the previously selected component
2) newly selected component has settings then open settings panel of the newly selected component else don't show any settings panel...

[2019-07-07 20:29] manuongithub opened #181 "[BUG] duplicate component button click is broken"
**Describe the bug**
the duplicate component button click is broken
when i click the icon to duplicate component, it does nothing... reproducible in the demo on this site too...

[2019-07-08 04:14] srikanthmovva commented on #173
working fine :D

[2019-07-08 04:25] srikanthmovva opened #182 "Bug in containers settings"
steps:
1.add a container-4 columns(25%-25%-25%25%)
2.in each sub container add a container-1 column.
3. now change the background color of each container inside the sub containers.(start from left). when you reach the right container the color in all the containers will be changed.

**the right most container(inside the subcontainer) settings is over lapped by the whole container settings**
![imag

[2019-07-08 04:34] srikanthmovva opened #183 "use of "cut" button"
i didnt understand the use of "cut" button without a paste option. is there any other possible way to use it ?

[2019-07-08 05:32] ducdhm commented on #183
This feature is under-structure. Wont fix!

@srikanthmovva You're working in development branch of KEditor. If you want a stable version, please check **Release**

[2019-07-08 05:32] #183 closed

[2019-07-08 05:33] ducdhm commented on #181
@manuongithub cause [this issue](https://github.com/Kademi/keditor/issues/158) so no duplicate anymore. It's Copy button but this feature is under-structure. So won't fix.

You're working in development branch of KEditor. If you want a stable version, please check Release

[2019-07-08 05:33] #181 closed

[2019-07-08 09:28] srikanthmovva opened #184 "youtube component"
![image](https://user-images.githubusercontent.com/41923272/60799405-b543e900-a190-11e9-8154-1b0afd48dd51.png)
errors while adding youtube component

[2019-07-09 15:11] ducdhm commented on #184
@srikanthmovva It's not KEditor bug. When you use Adblock extension, it prevents some adv scripts.

[2019-07-09 15:11] #184 closed

[2019-07-10 09:34] #182 closed

[2019-07-10 09:34] ducdhm commented on #182
Fixed!

[2019-07-10 13:05] srikanthmovva commented on #182
no, i still see the whole container settings is overlapping the sub container settings. Try adding background color to only first subcontainer.
![image](https://user-images.githubusercontent.com/41923272/60971279-68534480-a341-11e9-8049-9f4d6ba99308.png)

[2019-07-11 01:56] ducdhm commented on #182
@srikanthmovva It's toolbar for container, not sub-container side. At the moment, it's very simple demo for container setting. So if you inspect HTML element, you'll see toolbar for container and first sub-container are overlap

[2019-07-11 09:44] #158 closed

[2019-07-12 02:27] #169 closed

[2019-07-12 06:21] ducdhm commented on #177
Fixed!

[2019-07-12 06:21] #177 closed

[2019-07-12 06:25] ducdhm commented on #116
Move to https://github.com/Kademi/keditor/issues/116

[2019-07-12 06:25] #116 closed

[2019-07-16 10:48] anhnt opened #185 "Keditor should have option handler function to process when adding a component without a any existing container"
![image](https://user-images.githubusercontent.com/735555/61288537-857c8d00-a7f1-11e9-99e3-a2780f329338.png)

When adding a component to content area which has no existing container, Keditor should have option function that allow hooking into it to append any custom html that wraps the component. We need that for current Kademi EDM editor and content editor which have different container structure

[2019-07-16 16:37] ducdhm commented on #185
@anhnt do you mean [this option](https://github.com/Kademi/keditor/blob/master/src/keditor/constants/defaults.js#L15)?

[2019-07-19 12:17] hohll opened #186 "[Improvement] "Add" label on component is not translated."
Gen  2 :  "Add" label on component is not translated.

[2019-07-19 12:32] hohll opened #187 "[Feature request] The add action should be set on the whole component frame and not only on "Add button""
The add action should be set on the whole component frame and not only on "Add button"

![image](https://user-images.githubusercontent.com/9744643/61535209-f7dbb000-aa31-11e9-8fe8-43fc9248e525.png)

[2019-07-19 12:49] hohll opened #188 "On full screen mode the add modal is behind the editor"
GEN-2 : On full screen mode the add modal is behind the editor. When you try to add ca content the modal is not shown, but when leaving fullscreen mode the add modal his still open on top of the editor.

[2019-07-19 12:52] hohll opened #189 "On add modal, the two labels "category","all" and the sentence "Type to search" cannot be translated"
On add modal, the two labels "category","all" and the sentence "Type to search" cannot be translated.

![image](https://user-images.githubusercontent.com/9744643/61536288-979a3d80-aa34-11e9-8369-db8952837779.png)

[2019-07-21 08:40] ducdhm commented on #187
Done!

[2019-07-21 08:40] #187 closed

[2019-07-21 08:41] ducdhm commented on #186
Add button is removed so no need translation for it.

[2019-07-21 08:41] #186 closed

[2019-07-21 08:44] ducdhm commented on #188
Fixed!

[2019-07-21 08:44] #188 closed

[2019-07-21 08:53] ducdhm commented on #189
Done!

[2019-07-21 08:53] #189 closed

[2019-07-21 08:57] #185 closed

[2019-07-21 16:41] ducdhm commented on #67
With new update, `section` tag will be replaced by `div` tag. All existing `section` tags are still working!

[2019-07-21 16:41] #67 closed

[2019-07-24 10:36] ducdhm commented on #123
New option:
![newOption](https://user-images.githubusercontent.com/1289631/61787174-74f39480-ae39-11e9-9dfd-ffec18804961.png)

New UI:
![newUI](https://user-images.githubusercontent.com/1289631/61787196-7d4bcf80-ae39-11e9-99d5-83934dfbab10.png)

[2019-07-24 10:37] #123 closed

[2019-07-25 04:39] ducdhm opened #190 "Extra items in component's toolbar"
I want to add more item in components's toolbar for each type of component.

![image](https://user-images.githubusercontent.com/1289631/61846299-cef36900-aed0-11e9-9e6a-c5dddb5b39a0.png)

[2019-07-25 10:12] ducdhm opened #191 "Method to load content of dynamic element"

[2019-07-25 10:13] #191 closed

[2019-07-26 17:39] #172 closed

[2019-07-26 20:09] hitaloramon opened #192 "[BUG] Bootstrap 4 Column Resize"
Description:
I know keditor is based on bootstrap 3, but I use bootstrap 4 and everything works perfectly except the column resizing part. It simply doesn't change column values, because dragging the column doesn't work when I'm using bootstrap 4 CSS. Any idea what it is? No console shows no errors

Gif Demo: https://i.imgur.com/xKHbfUx.gifv

Version:
Last commit

Sorry for english using google tr

[2019-07-27 01:24] ducdhm commented on #192
@hitaloramon Can you provide me a live example/code for this issue?

[2019-07-27 02:12] hitaloramon commented on #192
@ducdhm  I made two examples, what changes is just a version of bootstrap

Live Exemplo: https://www.cmsgeek.m7web.com.br/index.html

[2019-07-27 03:26] ducdhm commented on #192
Fixed!

[2019-07-27 03:27] ducdhm commented on #192
@hitaloramon Please kindly check the latest code

[2019-07-27 03:31] hitaloramon commented on #192
thanks @ducdhm

what about it?

[2019-07-27 03:33] ducdhm commented on #192
@hitaloramon can you create other issue for it? I'll fix it in other issue 😄

[2019-07-27 03:41] hitaloramon opened #193 "[BUG] CKeditor Does Not Appear in Copied Text Components"
Description:
By copying any text component and pasting it into another area, you will no longer be able to edit content with ckeditor. The ckeditor bar is not visible.

Version:
Last Commit

Reproduce:
1 - Add some text component
2 - Click on the copy button
3 - Paste in another area
4 - Try to edit the text

Expected behavior
Being able to edit text with ckeditor

[2019-07-27 03:52] hitaloramon commented on #192
@ducdhm I noticed that the bug was only corrected in desktop view, when selecting, for example, Mobile, Tablet and Laptop the problem continues.

[2019-07-27 03:58] #192 closed

[2019-07-27 04:10] hitaloramon commented on #192
I realized that another problem happens. When resizing the Desktop view column and trying, for example, to resize the same column in Laptop or any other view, the bug happens again and cannot be resized. You can test again in my bootstrap 4 example

[2019-07-27 04:26] ducdhm commented on #193
Fixed!

[2019-07-27 04:38] hitaloramon commented on #193
@ducdhm solved the problem of this!

NOTE: 'I commented another bug in my previous issue.'

[2019-07-27 04:38] #193 closed

[2019-07-27 04:58] hitaloramon opened #194 "[BUG] Bootstrap 4 Column Resize"
Description:
The previous bug reported has been fixed in part. I realized that when resizing a column in Desktop view and then switching to Laptop, tablet or mobile view, the same column can no longer be resized, but the others work normally. Using the bootstrap 3 example this does not occur.

How to reproduce the problem:
1 - Resize a column in Desktop View
2 - Switch to Laptop View
3 - Try resiz

[2019-07-28 00:34] lordwhizy opened #195 "[BUG] Preview in Iframe mode only shows content-areas"
When you click on preview button to remove the outlines in Iframe mode, only the content-area is shown in the preview, instead of the entire iframe.
This makes the page look broken.

[2019-07-28 09:47] ducdhm commented on #195
@lordwhizy I dont get what you mean? Can you give me more details? Maybe some screenshot?

[2019-07-29 04:51] #190 closed

[2019-07-29 09:16] ducdhm commented on #180
Done!

Thank @manuongithub for your suggestion 💯

[2019-07-29 09:16] #180 closed

[2019-07-29 14:45] manuongithub commented on #180
thanks, we should also hide the settings panel when preview is switched on

[2019-07-29 14:49] manuongithub opened #196 "[Feature request] Hide the setting panel on entering preview mode"
**Functionality**
We should hide the settings panel when preview mode is on.

To reproduce, open settings panel of a component and then enter preview mode... you'd notice that the settings panel is still open

[2019-07-29 14:51] manuongithub opened #197 "[Feature request] is it possible to drag n drop the components while adding them to the page"
**Functionality**
is it possible to drag n drop the components while adding them to the page? In previous versions of keditor we used to have this feature. The components were visible in the sidebar and we used to drag n drop them on the builder....?

[2019-07-29 15:16] ducdhm commented on #197
Hi @manuongithub, in version 2, we decided to use "Add" button for adding content. If you want to use drag n drop snippets from sidebar to content-area, you can use version 1 KEditor at [here](https://github.com/Kademi/keditor/tree/keditor-v1).

/Duc

[2019-07-29 15:19] manuongithub commented on #196
also, the settings panel is not closing when component is deleted

[2019-07-29 15:36] ducdhm commented on #196
Fixed!

[2019-07-29 17:38] manuongithub commented on #197
is there a commit in version 1 or version 2 that I should look at for guidance when trying to add the functionality back to version 2's code for my own implementation..?

[2019-07-29 17:41] manuongithub opened #198 "[BUG] Wrong setting panel shown when new component is added"
Wrong setting panel shown when new component is added

to reproduce:

1) open setting panel of any component.
2) add a component below the selected component
3) observe that even though the new component is selected yet the setting panel that is open is of the previous component...

If someone starts changing settings now then they'd reflect on the non-selected component.

A fix will be to open th

[2019-07-29 17:43] manuongithub opened #199 "[Feature request] close old setting panel before opening new setting panel"
**Functionality**
feature request is to close the settings panel of the old component before opening the setting panel of newly selected component.

Close with an animation of a closing drawer and open with animation of an open drawer.

This is good for UI as the user will see feedback to their actions.

[2019-07-30 01:39] ducdhm commented on #180
@manuongithub I already did it in https://github.com/Kademi/keditor/issues/196

[2019-07-30 01:45] ducdhm commented on #195
Hi @lordwhizy,
Seem like I got what you mean. And in KEditor, when you're previewing, we still need to keep the topbar visible for some users' actions like Save, Fullscreen mode, Preview OFF, change device, etc...

It's KEditor's feature, not a bug. So I'll close this issue. If you have better idea, please create a "Request Feature" issue. Thanks for your contribution.

/Duc

[2019-07-30 01:45] #195 closed

[2019-07-30 01:47] hitaloramon commented on #194
Any news on this? @ducdhm

[2019-07-30 02:22] ducdhm commented on #198
Fixed!

[2019-07-30 02:52] ducdhm commented on #199
Done!

[2019-07-30 02:52] ducdhm commented on #199
@manuongithub please check it out ;)

[2019-07-30 02:55] ducdhm commented on #194
@hitaloramon The main issue here is styles of BS4. I'm investigating...

[2019-07-30 03:49] manuongithub commented on #199
thanks, but there is a small bug... the animation doesn't happen if changing between 2 same components... ex: changing between 2 image components...

[2019-07-30 04:16] ducdhm commented on #199
@manuongithub I don't think it's good idea to animate same settings form for a component type. User can realize settings options changed when changing between 2 different components with same type.

[2019-07-31 06:36] #198 closed

[2019-07-31 06:36] #196 closed

[2019-07-31 06:38] ducdhm commented on #197
@manuongithub honestly, I think it's impossible. Version 1 is in only 1 file but in version 2, I applied webpack for KEditor so I splitted keditor into multi-files

[2019-08-05 04:29] UbaidAnwar commented on #177
I am using the old version and its almost completed for my task.
Can the please send me the code block to fix it? so I can add it in my js.

[2019-08-05 04:42] ducdhm commented on #177
@UbaidAnwar you can see my changes at [here](https://github.com/Kademi/keditor/commit/bcded20c6a4619780c73c640b6f138aa9da96fdb)

[2019-08-05 04:48] UbaidAnwar commented on #177
Ok thanks ..let me check

[2019-08-05 05:34] UbaidAnwar commented on #177
Thanks its almost fixed my issue.

[2019-08-06 00:32] hitaloramon commented on #194
@ducdhm, I think find out why this problem happens. The bootstrap 4 grid system has an additional class prefix, which is col-xl for desktop, and when resizing it changes in a lower view. So I tried changing the device constants to:

const DEVICE_MODE = {
     MOBILE: 'sm',
     TABLET: 'md',
     LAPTOP: 'lg',
     DESKTOP: 'xl',
};

and it seems that solved the problem.

[2019-08-06 04:39] #197 closed

[2019-08-06 04:40] #199 closed

[2019-08-06 04:40] ducdhm commented on #194
@hitaloramon I think the `DEVICE_MODE` need to be configurable. Let me update it in keditor

[2019-08-06 13:54] srikanthmovva opened #200 "example with content"
i uploaded the code to a server and added a lot more sections in the "basic example with content" . so it is not loading. it gives a popup with "wait" and "exit" options.
Am i doing wrong in deploying the code? i mean do i need to minify or build the code before uploading it to the server? because it is working fine in my local machine :/

[2019-08-06 15:23] ducdhm commented on #200
@srikanthmovva can you provide me the example code in live action?

[2019-08-07 06:13] srikanthmovva commented on #200
<?php require "login/loginheader.php";
require "login/dbconf.php";
$dbconn=mysqli_connect($host, $username, $password, $db_name);

function clean($str){
  global $dbconn;
  $str= trim($str);
  $str=stripslashes($str);
  $str=htmlentities($str, ENT_QUOTES);
  $str=mysqli_real_escape_string($dbconn, $str);
  return $str;
}

if(isset($_SESSION['username'])){
  $thisUser=clean($_SESSION['username']);

[2019-08-07 06:18] srikanthmovva commented on #200
[template.txt](https://github.com/Kademi/keditor/files/3475546/template.txt)
i attached the file(it is acually .php file.but for uploading it has some issue with github. so i changed the extension from php to txt while uploading.

i added more components like carousel, lightbox, navbar etc.

[2019-08-08 15:03] ducdhm commented on #200
@srikanthmovva I do not see any js stuff for initialize KEditor.

[2019-08-09 16:23] ducdhm opened #201 "[Feature request] Extra buttons for topbar"
**Functionality**
Allows to add more buttons in topbar

[2019-08-09 16:38] ducdhm commented on #194
New options:
![image](https://user-images.githubusercontent.com/1289631/62794628-c28d2400-bafe-11e9-9413-1e5ffe3f99da.png)

[2019-08-09 16:38] #194 closed

[2019-08-09 17:02] ducdhm commented on #201
New options:

![image](https://user-images.githubusercontent.com/1289631/62795940-1a795a00-bb02-11e9-8a71-b9b1758be29e.png)

[2019-08-10 07:35] #201 closed

[2019-08-13 00:01] stephen-fueldesign opened #202 "IDs and Classes are removed from <section> containers [BUG]"
**Describe the bug**
Saving a page appears to be reducing `<section id="" class="">` to plain `<section>`.

**Version**
Latest version

**To Reproduce**
Simply saving the html page reduces the `<section>` containers to explicitly `<section>` removing any ID or Classes added to the container.

**Expected behavior**
Leave section containers as is with all attributes remaining on the tag. Example: `<

[2019-08-13 00:13] bradmac commented on #202
@stephen-fueldesign just confirming you're aware this only applies to the section. You can just put IDs and classes on a div under the section

[2019-08-13 00:26] stephen-fueldesign commented on #202
@bradmac Yes, I am aware. I will do further testing with the current jobs we have, and pages are breaking all over the place lately. I just feel if we can get IDs and/or Classes on a top-level section this mitigates end users from 1. breaking containers 2. giving freedom to create more rows and columns within a section 3. not needing to learn said classes or ids to apply to new rows and columns an

[2019-08-23 02:03] hitaloramon opened #203 "[Feature request] Display data-attribute in snippets"
I am creating a component and need a data attribute, such as data-img, but all attributes are removed. Would you support them?

Example:
https://i.imgur.com/AUhypaG.png

[2019-08-23 02:11] #203 closed

[2019-08-23 05:17] srikanthmovva commented on #200
@ducdhm acually its because of CKeditor. if we add many(lets say 100) text components "basic example with content" and try to load it, it is taking a lot of time.(i checked the console, it is creating many instances for ckeditor and i think that is the reason for it.)

[2019-08-23 05:20] srikanthmovva commented on #200
![image](https://user-images.githubusercontent.com/41923272/63568666-a9bb4e80-c593-11e9-9927-c91e363b380c.png)
![image](https://user-images.githubusercontent.com/41923272/63568702-cd7e9480-c593-11e9-8f36-ba572f32ca3f.png)

[2019-08-23 05:49] srikanthmovva opened #204 "how to replace ckeditor"

[2019-08-23 05:55] srikanthmovva commented on #200
@ducdhm is it possible to activate each editor instance on focus or via a button. Or even cooler would be to edit the text in a popup or a popover, this way it can be destroyed when the html is saved releasing the resources

[2019-08-23 07:41] #204 closed

[2019-08-23 07:43] ducdhm commented on #200
@srikanthmovva In default of KEditor, text-component will load CKEditor script inside iframe to init CKEditor inline. If you want, you can change text-component by your self.

[2019-08-23 07:59] ducdhm commented on #200
@srikanthmovva I have checked in example of KEditor. CKEditor is loaded once inside iframe. There are no issues with KEditor. It's just your code issue. I close this issue now.

[2019-08-23 07:59] #200 closed

[2019-08-27 00:12] hitaloramon opened #205 "[BUG] Starting with two content areas"
This last commit has some bugs. Two content areas are always being created at startup.

Is the add content button now a component? If the person deleted no longer has a way to create new containers

Version
Last commit

Gif: `https://i.imgur.com/iVTaOyc.gifv`

[2019-08-27 00:21] hitaloramon opened #206 "[BUG] Problem with add content button below"
After you enter content using the add content button below, the content is not displayed with the getContent method.

Version:
Last Commit

Git: `https://i.imgur.com/8MiH3YY.gifv`

[2019-08-30 18:09] nivanmorgan opened #207 "I can't set content on the editor. Tried different selectors but can't set content on editor [BUG]"
**Describe the bug**
A clear and concise description of what the bug is.
I can't set content on the editor. I am using the latest version. I downloaded my assets from github. I am trying to add an html button to allow users to paste or edit the html. But found problems setting the content back in the editor. So I tried removing all code and just setting the initial content with no use.

**Version*

[2019-09-06 05:13] srikanthmovva opened #208 "FullScreen OFF and Save Buttons"
both the buttons are not working in topbar-right

[2019-09-06 05:16] srikanthmovva opened #209 "CKeditor"
I added a jumbotron and copy pasted the button in it. when ever I paste the button, it is scrolling the whole page(doesnt matter where ever the jumbotron is.

[2019-09-19 13:14] umutcodec commented on #207
same thing with here also, setcontent doesnt work, i even tried setcontent example in your document and didnt work also. i am having same error: ncaught TypeError: self.error is not a function

[2019-09-23 09:12] stricker26 opened #210 "Slider Component"
I really love this editor, please add slider with text and image component or something like bootstrap carousel.

[2019-09-26 00:11] yoganhoho commented on #207
hi @nivanmorgan @umutcodec do you guys find any luck on this? I have same issue here. I can get content but cannot set.

[2019-10-12 14:49] capricorn05 opened #211 "How to show the edit source button in ckeditor [BUG]"
**Describe the bug**
there is no view source or ability to edit the source of the text component
**Version**
Which version are you using?

**To Reproduce**
Steps to reproduce the behavior:
Add text component and try to edit it.  However the view source does not appear in the menu options

**Expected behavior**
Since ckeditor has the functionality to edit the source I would expect this to be availa

[2019-10-13 09:25] xposer opened #212 "[Feature request]"
It would be nice, if we have ability to remove the topbar, so we can adjust keditor with our existing themes, or is there a way to do that? i don't find in documentation.
Thanks.!

[2019-10-14 06:12] xposer opened #213 "[BUG] On ajax request it shows Only one instance of babel-polyfill is allowed"
**Describe the bug**
when i added function of Save button, it is sending data to post url, but it is not updating the data in data table.
in console it is showing error : **Only one instance of babel-polyfill is allowed**

**Version**
Latest version

**To Reproduce**
Steps to reproduce the behavior:
Here is my Ajax request codes,

[code]

**Expected behavior**
It should save data into database. bu

[2019-10-14 06:16] xposer commented on #213
PS: Here is full error detail, when Save button is clicked, also all the other data is updated in database. but this content-area is not updating/saving.

[code]

[2019-10-21 12:57] sibox1337 commented on #207
hi @nivanmorgan, do you find how to do it because i still cant use setContent, @ducdhm can u help us

[2019-10-22 10:28] ducdhm commented on #211
@capricorn05 It's just CKEditor option inside KEditor. You can do it by yourself. Source code of text component at https://github.com/Kademi/keditor/blob/master/src/components/keditor-component-text.js#L11

[2019-10-22 10:28] #211 closed

[2019-10-22 10:29] ducdhm commented on #209
It's CKEditor issue. Not related to KEditor. Please report bug to CKEditor

[2019-10-22 10:29] #209 closed

[2019-10-23 01:44] ducdhm commented on #206
@hitaloramon It works well with current commit. If you still get issue, please kindly provide me more details.

[2019-10-23 01:44] #206 closed

[2019-10-23 01:51] ducdhm commented on #205
@hitaloramon It works normal with current commit. And in next time, *PLEASE* write step by step to reproduce issue or I'll close issue as invalid because it's not following the BUG template

[2019-10-23 01:51] #205 closed

[2019-10-23 02:34] ducdhm commented on #207
@nivanmorgan @umutcodec @yoganhoho @sibox1337 I have fixed this issue. Please check with latest version.

FYI: Please call method of KEditor follow [this guide](https://github.com/Kademi/keditor/blob/master/docs/methods.md#methods)

[code]

[2019-10-23 02:34] #207 closed

[2019-10-23 02:36] ducdhm commented on #208
It's still working normally!

@srikanthmovva In next time, I'll close this kind of issue because it's not following standard issue of KEditor

[2019-10-23 02:36] #208 closed

[2019-10-23 02:42] ducdhm commented on #202
@stephen-fueldesign Can you double-check again? With current commit, the ID and Classes of top section are keeping. You can check [this example](http://kademi.github.io/keditor/examples/basic_with_content.html)

[2019-10-23 02:42] #202 closed

[2019-10-23 02:49] ducdhm commented on #213
@xposer You did not specify `url` for your `$.ajax`. That's why content of KEditor not send to server.

[2019-10-23 02:49] #213 closed

[2019-10-23 09:46] sibox1337 opened #214 "[BUG]"
**Describe the bug**
When u setContent keditor capabilities are removed.No edit options, no add new components options and so on

**Version**
Latest

**To Reproduce**
My code is this

var content = '<div class="container"><div class="row"><div class="col-md-6" data-type="container-content"><div data-type="component-text">New content</div></div></div></div>';
			$('#content-area').keditor('setConte

[2019-10-23 09:46] #214 closed

[2019-11-07 04:41] srikanthmovva opened #215 "can we disable links for a particular component ?"
i added a lightbox(gallery) component. so i can click and view the images in bigger size. but i want to disable the href/links(or any javascript im running when i click the image) inside the keditor. i want the links to be active only in the uneditable webpage.

is this possible?

[2019-12-12 06:27] funnelhosts commented on #213
Hi, am unable to get the function of a save button to work. can you please check my code , am not sure if it's because I left something on my ajax request. Here is my code:

<?php
require "login/loginheader.php";
require "login/dbconf.php";
$dbconn = mysqli_connect($host,$username,$password,$db_name);

/*print_r($dbconn);*/

function clean($str){
	global $dbconn;
	$str =trim($str);
	$str=stripcsla

[2019-12-12 06:36] funnelhosts commented on #213
I did not specify the url because the ajax request is going to be pushed back to the same page which will then push to the database.

[2019-12-13 03:55] ducdhm commented on #215
@srikanthmovva Yes you can. In "init" method of your component, just handle `a` click event.

[2019-12-14 19:06] WayneMu opened #216 "How to add function of the save button on the page."
I need help enable-ling  the function of a save button to work. can you please check my code , am not sure if it's because I left something on my ajax request. Here is my code:

<?php
require "login/loginheader.php";
require "login/dbconf.php";
$dbconn = mysqli_connect($host,$username,$password,$db_name);

/*print_r($dbconn);*/

function clean($str){
	global $dbconn;
	$str =trim($str);
	$str=strip

[2019-12-24 13:52] diaraujo13 opened #217 "Is possible to add other types of components? Like react native pages?"

[2019-12-26 20:32] bradmac commented on #217
yes, eg in kademi.co we have hundreds of custom components

Its very flexible. in our usage these are generated dynamically in an ajax service depending on the type of page being edited.

[2020-02-26 10:13] NicolasCKC opened #218 "Bootstrap 4 support ?"
System is still using boostrap 3, is there a plan to use bootstrap 4 instead & if yes, when?

[2020-02-26 10:24] anhnt commented on #218
We dont have plan to support BS4 in the near future. PR are always welcomed :)

[2020-02-26 10:29] NicolasCKC commented on #218
thanks for the fast answer! any idea on how much dev time it would be approx?

[2020-02-26 19:35] bradmac commented on #218
My guess is about a day of updating and tweaking css.

I think this should be managed as a seperate major version (probably in a seperate repo), because many users (like us) have extended keditor with hundreds more components, and those would need to be upgraded as well which would be a much larger effort.

So we need to continue supporting bs3 for quite some time yet.

[2020-03-18 02:33] #215 closed

[2020-03-18 02:38] ducdhm commented on #216
@WayneMu
1. You dont need call `getContent` method to get the current content. You can use `content` param of `onSave` callback, it's current content.
2. You need to check your server log to know what happens in server. This part is related to you so I can't help you.

Thanks for using KEditor,
/Duc

[2020-03-18 02:38] #216 closed

[2020-03-18 02:40] ducdhm commented on #217
@diaraujo13 You can follow [this guide](https://github.com/Kademi/keditor/blob/master/docs/custom_component.md) to create your own component.

Thanks,
/Duc

[2020-03-18 02:40] #217 closed

[2020-03-18 02:43] ducdhm commented on #218
@NicolasCKC Please take a look at configuration of KEditor. We already have setting for Bootstrap which allows you to use BS4.

[code]
Link for details: https://github.com/Kademi/keditor/blob/master/src/keditor/constants/defaults.js#L336

[2020-03-19 20:01] Root3287 opened #220 "[Feature request] NPM or Bower support"
**Functionality**
Have some support to get this from brower or npm

[2020-03-21 21:14] anabeatrizzz commented on #218
@NicolasCKC hello, I would like an example of how to add a success Bootstrap button to the components. I didn't understand what I have to specify in the handler file.

[2020-03-24 04:28] Filipetb opened #221 "Replace Modal to Left Sidebar [Feature request]"
I am trying edit the source code to replace the modal that user choose the Snippet to a left sidebar instead.

I just duplicated the sidebar and put to show in the left, I am trying to load/render the snippets inside it by comparing with how it is already loading in the modal.

Can you guys give me some tips to do it?

Than, I will try to open the sidebar when the add content button is pressed. I

[2020-03-24 08:34] ABtechsystem opened #222 "Uncaught TypeError: cols.resizable is not a function at KEditor.eval (initColumnResizer.js?ff9e:28) at KEditor.eval (initContainer.js?a97d:45)[BUG]"
Hello,

I got this issue when I am loading dynamic snippet using ajax
This is my HTML in the database templates :

[code]

Full Error :
Uncaught TypeError: cols.resizable is not a function
    at KEditor.eval (initColumnResizer.js?ff9e:28)
    at KEditor.eval (initContainer.js?a97d:45)
    at KEditor.eval (convertToContainer.js?5444:12)
    at HTMLDivElement.eval (initContentArea.js?d88d:75)
    a

[2020-03-24 21:56] Filipetb commented on #221
Hey guys,

Passing by just to say that I already workaround the issue =)

I understood better the source code (btw I love it <3) and learned how to work with webpack.

Now I have just to work with the .less files to improve the apparence of the editor.

Congratulation for such a great job with this source code, I am learning a lot and having fun customizing the Editor.

See it:
<img width="1403" a

[2020-03-24 21:58] #221 closed

[2020-03-26 06:22] ABtechsystem commented on #222
editor.js was the conflict with keditor

[2020-03-26 10:17] ducdhm commented on #220
@Root3287
The link to KEditor package is: https://www.npmjs.com/package/@kademi/keditor

Regards,
/Duc

[2020-03-26 10:17] #220 closed

[2020-03-26 12:50] ABtechsystem commented on #222
Function.each  conflict

[2020-03-27 02:43] #218 closed

[2020-03-27 02:44] ducdhm commented on #222
@ABtechsystem can you provide me the screenshot of error log?

[2020-03-27 04:26] ABtechsystem commented on #222
[log.log](https://github.com/Kademi/keditor/files/4391479/log.log)

[2020-03-27 07:19] kprasadbabu7 opened #223 "[BUG] Popup is not working( prove is not displaying )"
![image](https://user-images.githubusercontent.com/44153959/77731605-3ac23e80-7029-11ea-94e5-cfbfd9c97420.png)

when we click tho add (+) button popup is coming but that is empty .How can we fix that  Please share me the code

[2020-03-27 07:23] kprasadbabu7 commented on #109
![image](https://user-images.githubusercontent.com/44153959/77731929-e23f7100-7029-11ea-87fc-2154686584ce.png)

Page not found  please check this

[2020-03-27 07:29] #222 closed

[2020-03-28 09:23] serdarbora opened #224 "Photo source url"
Hello, is there a way to get photo url instead of base64 file with getcontent method? I want to use url instead of photo to not load my database so much.

[2020-03-28 22:13] anabeatrizzz opened #225 "Adding new components"
Hello,
I wish to drag and drop a table when the **+** symbol is clicked but I didn't understand how to add components.
Can someone explain to me in detail? Thank you.

[2020-03-28 22:19] bradmac commented on #225
Hi @anabeatrizzz

The first version of keditor had a side panel to drag and drop from. However this caused some UX issues, so in version2 when you click the + button the user is shown all available components. Selecting a component adds it to the page in the location of the + button

It can then be dragged to another location, but its usually easiest for users to click the + button at the location

[2020-03-28 22:28] anabeatrizzz commented on #225
@bradmac but how can I add a table in those all available components?

[2020-03-28 22:30] bradmac commented on #225
There's no table component that i know of. But you can just add the text component which is edited with ckeditor, which has tables.

And of course you can build your own table component :)

[2020-03-28 22:31] bradmac commented on #225
![image](https://user-images.githubusercontent.com/826458/77835374-d8944580-71b0-11ea-9970-992defa101de.png)

[2020-03-28 22:37] anabeatrizzz commented on #225
Exactly! I want to build and drag n drop a table com this appearence:
![Captura de tela_2020-03-28_19-33-26](https://user-images.githubusercontent.com/53445202/77835455-7d6c3f80-712b-11ea-96f5-48956b6de7a9.png)

How can I accomplish that?

[2020-03-28 22:39] bradmac commented on #225
There are instructions here for building and contributing components

https://github.com/Kademi/keditor/blob/master/docs/contribute_a_component.md

[2020-03-28 22:45] anabeatrizzz commented on #225
Yes, I already read this instructions but I didn't understand the handler file part. Do I have to change anything? Do I have to change lines with `@param {jQuery}` or `@param {KEditor}`, for instance?

[2020-03-28 22:50] bradmac commented on #225
@param is for code comments. You can look at documentation for javascript for information about that.

[2020-03-29 20:05] #225 closed

[2020-03-31 01:51] 37Stars opened #226 "[BUG] Closing Full Screen"
You can click the icon to go to full screen mode, but when you click the icon exit full screen mode it doesn't close. It will close if you press the Esc key.

[2020-04-02 21:27] PrasadCertprime commented on #109
how to add a background image

[2020-04-02 23:04] PrasadCertprime opened #227 "[Component request] how to add a background image"
Kademi/keditor

How to add a background image  and change the image and text,
how to add a slider

[2020-04-08 20:35] Root3287 opened #228 "[Feature request] FontAwesome 5"
**Functionality**
Have support for FontAwesome5

[2020-04-09 20:31] mlandmann opened #229 "Source"
Can you put the un minified js code back in the repository?
Also, where is this product going?  Do you expect to continue to enhance this over time?

[2020-04-09 22:56] bradmac commented on #229
Thats here - https://github.com/Kademi/keditor/tree/master/src

Yep! This is a critical capability in the sponsor company (https://kademi.co) so is being used and developed actively.

[2020-04-09 22:56] #229 closed

[2020-04-09 23:27] mlandmann commented on #229
This is great news.

I think what has been put together here has some great potential.

The one question if I might ask, is somewhere between version 1 and 2 the way it works changed.  There used to be a side panel you could put the blocks, etc. on and now it is the full screen drop down of select the various widgets.

Is this a configuration option, or is this the approach going forward?

I kinda

[2020-04-10 00:36] bradmac commented on #229
The old approach was found to have major UX issues in practise, even though it looked nice and intuitive.

What we found is that if the content is small, and the number of components is small, then the old approach was great

But for more realistic use cases users need the full screen real estate to see and edit content, and the side bar was far too small to be useable. Eg in Kademi we have often

[2020-04-11 16:40] Filipetb opened #230 "Split Containers and handle like Components [Feature request]"
Hi guys,

Why not handle containers like components?

I mean, isn't better to handle inside the source code instead of in Keditor initialization overwriting the defaults options? What you guys think about?

Also, why not have snippet for Sections/Containers, Rows and Columns separated?

I am trying create a SettingForm for section/container, rows and column changes, but are all together inside a c

[2020-04-16 14:41] hitaloramon opened #231 "Bootstrap collapse, tabs, slider does not navigate elements"
@ducdhm do you have any idea why when, for example i use a collapse or tabs from boostrap i can't open, or navigate through the elements? I tried to inject javascript so that these elements would work at least in preview mode, but without success. I was looking to develop some components for keditor, but I would need these bootstrap components to take effect inside the editor, similar to the hyper

[2020-04-25 21:23] serdarbora commented on #224
I added pictures name as alt element of image and calling it during saving into database

[2020-04-25 21:23] #224 closed

[2020-05-01 05:20] daniel-olmos opened #232 "[BUG] thumbnail panel does not allow editing the image"
**Describe the bug**
when trying to edit the thumbnail panel image, it does not show any option, so it does not allow adding a new image

**Version**
v.2.0.0

**To Reproduce**
Steps to reproduce the behavior:
go to Ckeditor, enter the builder, and select the thumbnail panel element, once inserted, try to change the image

**Expected behavior**
open an edit panel like the one in the image, where yo

[2020-05-04 07:54] ducdhm commented on #223
@kprasadbabu7 Please kindly give me more details which version you're using, the code snippet, etc...

[2020-05-04 07:54] #223 closed

[2020-05-04 07:55] ducdhm commented on #227
@PrasadCertprime please follow the template of "Component request" if you want to request new component

[2020-05-04 07:55] #227 closed

[2020-05-04 14:24] StevieDC opened #233 "[BUG] Calling setcontent loses the ability to add a new section"
Hi,
   I am trying to save the users content and then reload it at a later date for them to continue editing. However, when I call 'setcontent' it loads the saved data (keeping the sections separate etc.) but I lose the + icon at the bottom that allows the user to add a new section.
Please advise. Thanks.

Here is an example of my code:

                var cnt =
                    '<div class="r

[2020-05-07 20:24] shivishbrahma opened #235 "[Feature request] Bootstrap 4 support"
**Functionality**

Currently the editor supports Bootstrap 3 but I am thinking if you can extend that to Bootstrap 4

[2020-05-14 08:51] remcovo opened #236 "add or sell components or bundled sets?"
I follow this keditor project long time now, and really want to embed this into my CMS. Love it, and now with the responsive draggable columns even more
The only thing holding me back are the availalble components and worked-out options.  I really miss basic options like padding, color-picker, add / changing some basic classes like alert / succes,

I know, I could do it myself, but I don't want to

[2020-05-23 09:56] ziogusmo opened #237 "[Feature request] responsive filemanager integration"
Hi,
I can't figure out how to integrate the responsive file manager  (https://www.responsivefilemanager.com/#documentation-section).
For ckeditor the required code is like this
`<script type="text/javascript" src="js/ckeditor/ckeditor.js"></script>
<script>
CKEDITOR.replace( 'editor-ckeditor' ,{
	filebrowserBrowseUrl : 'filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
	filebrowserUploadUrl :

[2020-06-03 10:26] ziogusmo commented on #237
I solved my problem.

I put the lines directly into keditor__WEBPACK_IMPORTED_MODULE_1 ___ default.a.components ['text'] = {...}

Bye

[2020-06-03 10:26] #237 closed

[2020-06-15 14:02] remcovo commented on #236
no response?

[2020-06-15 15:58] anhnt commented on #236
Hello there
We dont have plan to sell components however i think you can develop and make PRs or sell your work on any marketplace which can promote our keditor :)
Thanks

[2020-06-29 04:08] ducdhm commented on #235
I already provide options to setup BS3 or BS4. Please view at [here](https://github.com/Kademi/keditor/blob/master/src/keditor/constants/defaults.js#L336)

[2020-06-29 04:08] #235 closed

[2020-06-29 04:19] ducdhm commented on #233
@StevieDC It's working normally. Maybe you're using old version. Please try again with latest version. If this issue still occur, please reopen this ticket.

[2020-06-29 04:19] #233 closed

[2020-06-29 04:28] ducdhm commented on #232
Fixed!

[2020-06-29 04:28] #232 closed

[2020-06-29 04:31] ducdhm commented on #231
@hitaloramon your question is so common. Please provide me your code snippet to investigate.

FYI: By default, all anchors inside keditor is disable click event. If you want to use Bootstrap, you need to inject Bootstrap JS inside KEditor.

[2020-06-29 04:31] #231 closed

[2020-06-29 04:34] ducdhm commented on #226
Fixed!

[2020-06-29 04:34] #226 closed

[2020-06-29 04:38] ducdhm commented on #228
@Root3287 You can do it by your self. KEditor already has guideline to create your own component. Please take a look at [here](https://github.com/Kademi/keditor/blob/master/docs/custom_component.md).

FYI: I think it's best solution if you add FontAwesome plugin into CKEditor and use CKEditor as text component of KEditor!

Regards,
/Duc

[2020-06-29 08:26] ducdhm commented on #230
@Filipetb

KEditor wants to separate 2 concepts, container as layout and component as UI. Just simple for end-user.

Sometimes, users do not know that they need to add Sections/Containers first and then Rows and Columns and then other component like photo, text, etc... It's so complicated for them. That's why we just provide a lot of container snippets such as col-5 + col-7, col-3 + col-3 + col-3

[2020-06-29 08:26] #230 closed

[2020-06-29 08:29] ducdhm commented on #236
Hi @remcovo,
If you're still finding someone to help you create premium components for KEditor, please kindly contact me via email (ducdhm at gmail dot com).

Cheers,
/Duc

[2020-06-29 19:40] daniel-olmos commented on #232
Perfect!

Thanks @ducdhm

[2020-07-02 19:04] eros2187 opened #238 "add ckfinder to ckeditor"
I would like to add ckfinder to the ckeditor present in the project is it possible to do it?
I managed to add it to an external editor but I can't add it to the one integrated in the project?
can someone help me?
thank you
![Schermata 2020-07-02 alle 21 02 16](https://user-images.githubusercontent.com/5880552/86399429-8bd87300-bca7-11ea-8ce1-205fecbd95a3.png)

[2020-07-03 09:42] eros2187 commented on #238
@ducdhm hello could you help me give me your email that i will contact you. tanks

[2020-07-04 15:21] #238 closed

[2020-07-04 15:21] eros2187 commented on #238
ko

[2020-07-06 02:10] jeremyteh opened #239 "Custom component not working as intended after creation following guide"
I am unable to successfully display the content after creating a new component following the guide within this project. I would like to seek help on how to go about successfully creating a new custom component.

 The following is some of the steps I have taken to create a new custom component, however I have not been successful in rendering the content in the custom component:

1. Added Code snipp

[2020-07-09 00:51] shoaibSia commented on #231
@ducdhm I also need this effect to be done. Can you please tell how to enable click event on editor or how to add Bootstrap JS inside KEditor.

[2020-07-13 10:22] ducdhm commented on #239
@jeremyteh How about "getContent" of your new component? I need to see it to know the issue.

[2020-07-14 18:31] lunghekani opened #240 "how do I get the file upload on bootstrap to work?"

[2020-07-17 06:07] tantash commented on #210
hello, may i ask if you can post a more clear guide on building the componets, i would glad push some quality components in addition to hook it to dynamic super cms if anyone would like to it

[2020-07-20 23:10] satriamain1 opened #242 "Bootstrap 4 dropdown conflict with jquery-ui ?"
In Keditor, Bootstrap 4 dropdown button  can't work/show dropdown when using import jquery-ui  but dropdown can work in web page.

script Bootstrap 4 dropdown button:
![dropdown](https://user-images.githubusercontent.com/68570410/87995389-9012e600-cb19-11ea-9286-99844d918b49.PNG)

import script code with jquery-ui:
![with jquery ui](https://user-images.githubusercontent.com/68570410/87995419-a4ef7

[2020-07-28 10:44] remcovo commented on #236
Question: why do use a German song about Adolf Hitler in the demo audio component? I am aware that in some Asian and middle-east countries see the holocaust as never happened, but in Europe this is quite sensitive, and shows really bad taste and just wrong. Please change the demo..thanx
--------------------------------
I know that you have referenced people to the docs 'how to make a component'.
I

[2020-08-13 06:27] luaikayyali opened #243 "Arabic language issue in Keditor content area"
Hello,
When I enter non-English language characters, they appear like strange characters, but they are saved correctly in the HTML file, and only displayed in a wrong format in the Keditor container.
I did update CKEditor languages and pretty sure the problem not from CKEditor.

**Version**
Latest version

**To Reproduce**
Steps to reproduce the behavior:
1. open any component which has CKEditor
2

[2020-08-23 06:04] qrai opened #244 "Clean Documentation"
Documentation isn't clear and i don't even understand how to simply use keditor on the website. I didnt found any tutorial how to init keditor. There's only hella explanation of the keditor project structure, also there's tutorials for methods, components,etc. Documentation is pretty important.

[2020-09-11 17:28] ayushdhiman101 opened #245 "[BUG]"
**Describe the bug**
Not being able to save/download the source file after creating my webpage
**Version**
Which version are you using?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to hel

[2020-09-15 11:14] kavacsgit opened #246 "Issue with Vue.js"
**Describe the bug**
When I try to use KEditor in Vue it keeps giving me this bug:
`Uncaught TypeError: t is undefined`
`d renderSnippet.js:27`
`h renderSnippets.js:21`
`...`

in FireFox, in Chrome:
`renderSnippet.js:28 Uncaught TypeError: Cannot read property 'indexOf' of undefined`
`at t.d (renderSnippet.js:28)`
`at HTMLDivElement.<anonymous> (renderSnippets.js:21)`

**Version**
The latest versi

[2020-09-15 14:33] kavacsgit commented on #246
Meanwhile I've managed to figure out that keditor.js throws the error from line 340 to 346 if I'm not mistaken. This:

`            d = function(t, n, e, o, a, i) {`
`                var r = this.options,`
`                    l = s(),`
`                    T = '\n        <section\n            class="'.concat(c.UI, " ").concat(c.SNIPPET, " ").concat("container" === t ? c.SNIPPET_CONTAINER : c.SNIP

[2020-09-15 19:27] kavacsgit commented on #246
Never mind.

I have figured it out.

In keditor.js there's an ajax call that tries to reach the snippetsUrl which is a relative path for the snippet html. And since Vue handles these urls it needs to be changed to the path of the public folder.

[2020-09-15 19:27] #246 closed

[2020-09-26 07:27] qrai opened #247 "Load & Save content with full html document structure didn't works ([BUG]"
**Describe the bug**
When i load html document(with header,metas,body) in keditor, editor ignores header styles & scripts. When i save that html document again, keditor didn't uses same html structure as it was (keditor is didn't keep header links, metas)

**Version**
Latest

[2020-10-18 07:52] 31012009 opened #248 "attached javascript event on element inside iframe"
**Functionality**

How to add onClick event on KEditor elements inside iframe

![image](https://user-images.githubusercontent.com/8739483/96361594-bcec8e80-1144-11eb-929b-239196cba7bf.png)

[2020-11-20 07:07] #242 closed

[2020-12-02 15:18] onebeat opened #249 "Add background image"
**Functionality**
Possible to add background image for whole iframe body same as adding color to div ?

[2020-12-20 22:19] hamzahashim25 opened #251 "[BUG]"
**Describe the bug**
Cannot upload photos as it saids cannot upload local data

**Version**
V1

[2020-12-26 23:26] ibrdmz commented on #243
Whats your html document file encoding type?

if your html document file used encoding ANSI change to UTF8

[2021-01-16 19:54] shubhamshaurav opened #252 "Ho"

[2021-01-17 16:22] shubhamshaurav commented on #252
I am also looking for an extended(non-min) form of the Js file can you please provide us for master keditor.

[2021-01-30 13:14] #252 closed

[2021-03-03 07:34] kionez commented on #228
I think he meant the support within keditor, for example "fa-files-o" (duplicate icon) is no longer present in FontAwesome 5

[2021-03-16 07:08] mlandmann opened #254 "Side Navigation"
What would it take to get you to add a configutation option to go back to the side naviation vs the drop down from the top. You had this in the previous version and in my opinion, it worked better than the approach you are using now. Is there a $ amount that I can offer that would get you to make this happen?

[2021-03-19 10:03] remcovo commented on #254
I do second that question. I played with css a little bit, to get the old result somehow . with fixed width and positioning the block to right... It is not clear what the founders want to do with this project. It has great potential, but lacks in developping and communication.

[2021-03-19 20:37] bradmac commented on #254
Hey guys, sorry but we dont have capacity to respond to requests at present. We're actively using KEditor in kademi.co and it works extremely well.

@ducdhm was looking after the project independently, but seems like he's a bit busy.

If anyone would like to submit a PR I'd be happy to review